.footer {
    border-radius: 4px;
    background-color: #fff;
    border-top: 1px solid #ddd
}

.blog-footer p:last-child {
    margin-bottom: 0
}

.sidebar-module {
    padding: 0 5px 0 10px
}

.sidebar-module-inset {
    padding: 15px;
    background-color: #f5f5f5;
    border-radius: 4px
}

.sidebar-module-inset p:last-child, .sidebar-module-inset ul:last-child, .sidebar-module-inset ol:last-child {
    margin-bottom: 0
}

.blog-nav-item {
    position: relative;
    display: inline-block;
    padding: 10px;
    font-weight: 500;
    color: #cdddeb
}

.blog-nav-item:hover, .blog-nav-item:focus {
    color: #fff;
    text-decoration: none
}

.blog-nav .active {
    color: #fff;
    border: 1px solid #ddd
}

.blog-nav .active:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -5px;
    vertical-align: middle;
    content: " ";
    border-right: 5px solid transparent;
    border-bottom: 5px solid;
    border-left: 5px solid transparent
}

.imgl {
    float: left;
    margin: 0 10px 10px 0
}

.imgr {
    float: right;
    margin: 0 0 10px 10px
}

.o-img {
    max-width: 120px;
    max-height: 120px;
    margin: 2px 2px 2px 2px
}

.c-logo {
    margin-right: 15px;
    max-height: 100px;
    max-width: 150px;
    vertical-align: middle
}

.nav .active {
    color: #158cba !important;
    font-weight: bold;
    border: 1px solid #ddd
}

.gmenu {
    padding: 0 5px 0 0
}

.smenu {
    padding: 2px 0 2px 0
}

.g-ul {
    list-style: none
}

.blog-title {
    font-size: 24px;
    margin-bottom: 1px
}

.blog-description {
    font-size: 18px;
    margin-bottom: 1px
}

.p-logo {
    margin: 15px 15px 15px 15px;
    max-height: 500px;
    max-width: 250px;
    vertical-align: middle
}

.c-logo-f {
    margin: 10px 15px 10px 5px;
    max-height: 100px;
    max-width: 150px;
    vertical-align: middle
}

.row-main {
    margin-bottom: 10px;
    margin-top: 10px
}

.contact {
    text-align: left
}

.social {
    text-align: center
}

.copyright {
    text-align: right
}

.alert-lil {
    padding: 0 1px 0 5px;
    margin-bottom: 1px;
    border-width: 0
}

.footer {
    bottom: 0;
    padding: 10px 10px 10px 10px;
    width: 100%
}

.alert-io {
    background-color: #949494;
    border-color: transparent;
    color: #fff
}

.alert-io hr {
    border-top-color: rgba(0, 0, 0, 0)
}

.alert-io .alert-link {
    color: #e6e6e6
}

.alert-primary {
    color: #ffffff;
    background-color: #2c3e50;
    border-color: #faebcc;
}

.alert-primary hr {
    border-top-color: #f7e1b5;
}

.alert-primary .alert-link {
    color: #e6e6e6;
}

.alert-default {
    color: #ffffff;
    background-color: #95a5a6;
    border-color: #faebcc;
}

.alert-default hr {
    border-top-color: #f7e1b5;
}

.alert-default .alert-link {
    color: #e6e6e6;
}

.panel-default {
    border-color: #dddddd;
}

.panel-default > .panel-heading {
    color: #ffffff;
    background-color: #333333;
    border-color: #dddddd;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #dddddd;
}

.panel-default > .panel-heading .badge {
    color: #f5f5f5;
    background-color: #333333;
}

.panel-default > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #dddddd;
}

.rightm {
    margin-right: 15px;
}