<!--
  ~ Copyright (c) 2017.
  -->

<header id="head" class="secondary"></header>

<!-- container -->
<div class="container">
 <div class ="col-sm-11 col-sm-offset-1">
   

    <ol class="breadcrumb">
        <li><a href="<?php echo BEZ_HOST; ?>?mode=index"><?php echo $label_Index; ?></a></li>
        <li class="active"><?php echo $label_AskQuestion;?></li>
    </ol>
     <ul style="list-style-type: none">
         <h4><li class="active"><a href="<?php echo $_SERVER['HTTP_REFERER']; ?>" ><strong><?php echo $label_Back;?></strong></a></li></h4>
    </ul>
 </div>

    <div class="row">

        <!-- Article main content -->
        <article class="col-xs-12 maincontent">
            <header class="page-header">
                <h1 class="page-title"><?php echo $label_AskQuestion;?></h1>
            </header>
            <?php echo $show; ?>
            <div class="col-md-12">
                <form class="form-horizontal" enctype="multipart/form-data" action="" method="POST">
                    <input type="hidden" name="MAX_FILE_SIZE" value="3000000"/>
                    <div class="form-group">
                        
                    <div class="form-group">
                        <label for="question"><?php echo $label_Message;?></label>
                        <textarea class="form-control" type="text" id="question" name="answer" rows="5"></textarea>
                    </div>
                    <div class="form-group">
                        <button type="submit" name="submit" class="btn btn-primary"><?php echo $btn_Save;?></button>
                    </div>
                </form>
            </div>

            

        </article>
        <!-- /Article -->

    </div>
</div>    <!-- /container -->