<header id="head" class="secondary"></header>

<!-- container -->
<div class="container">
<div class ="col-sm-11 col-sm-offset-1">
    <ol class="breadcrumb">
        <li><a href="<?php echo BEZ_HOST; ?>?mode=index"><?php echo $label_Index; ?></a></li>
        <li class="active"><?php echo $label_OSearch; ?></li>
    </ol>
    <ul style="list-style-type: none">
         <h4><li class="active"><a href="<?php echo $_SERVER['HTTP_REFERER']; ?>" ><strong><?php echo $label_Back ?></strong></a></li></h4>
    </ul> 
</div>
    
    <div class="row">

        <!-- Article main content -->
        <article class="col-md-10 col-md-offset-1 maincontent">
            <header class="page-header">
                <h1 class="page-title">Телеметрия системы</h1>
            </header>
                
                Заказов: <span class="label label-default"><?php echo $rows11; ?></span> |
                Чертежей: <span class="label label-default"><?php echo $rows22; ?></span> |
                Пользователей: <span class="label label-default"><?php echo $rows33; ?></span>
                <hr>
                <div class ="col-xs-12">
                    <?php echo $some; ?>
                </div>
                <strong>Телеметрия:</strong> <?php echo $time; ?>
                <hr>
                <?php echo $log; ?>
                <hr>

        </article>
        <!-- /Article -->

    </div>
</div>    <!-- /container -->