<header id="head" class="secondary"></header>

<!-- container -->
<div class="container">
    <div class ="col-sm-11 col-sm-offset-1">
    <ol class="breadcrumb">
        <li><a href="<?php echo BEZ_HOST; ?>?mode=index"><?php echo $label_Index; ?></a></li>
        <li><a href="<?php echo BEZ_HOST; ?>?mode=all_companys"><?php echo $label_CSearch; ?></a></li>
        <li class="active"><?php echo $label_SearchResult; ?></li>
    </ol>
    <ul style="list-style-type: none">
         <h4><li class="active"><a href="<?php echo $_SERVER['HTTP_REFERER']; ?>" ><strong><?php echo $label_Back; ?></strong></a></li></h4>
    </ul>
    </div>
    <div class="row">

        <!-- Article main content -->
        <article class="col-md-10 col-md-offset-1 maincontent">
            <header class="page-header">
                <h1 class="page-title"><?php echo $label_SearchResult; ?><br><small><?php echo $label_Inquiry; ?>: <?php echo $search_string; ?></small></h1>
            </header>
                    <?php echo $some; ?>
                    <?php echo $table; ?>
        </article>
        <!-- /Article -->

    </div>
</div>    <!-- /container -->