<header id="head" class="secondary"></header>

<!-- container -->
<div class="container">
    <div class ="col-sm-11 col-sm-offset-1">
    <ol class="breadcrumb">
        <li><a href="<?php echo BEZ_HOST; ?>?mode=index"><?php echo $label_Index; ?></a></li>
        <li class="active"><?php echo $label_CEdit; ?></li>
    </ol>
    <ul style="list-style-type: none">
         <h4><li class="active"><a href="<?php echo $_SERVER['HTTP_REFERER']; ?>" ><strong><?php echo $label_Back; ?></strong></a></li></h4>
    </ul>
    </div>
    <div class="row">

        <!-- Article main content -->
        <article class="col-md-10 col-md-offset-1 maincontent">
            <header class="page-header">
                <h1 class="page-title"><?php echo $label_CEdit; ?></h1>
            </header>

            <form class="form-horizontal" action="" method="POST" enctype="multipart/form-data">
                 <div class="form-group">
                        <label for="cat" class="control-label"><?php echo $label_Activity; ?>: <font color="red">*</font></label><br>
                        <input class="form-control" type = "text" placeholder ="<?php echo $label_Action1; ?>" id ="ch_select" size = 100 name="cat" required>
                        <div id = "save"><?php echo $res; ?></div>
                    </div>
                <div class="form-group">
                    <label for="c_name" class="control-label"><?php echo $label_Company_name; ?>: <font
                            color="red">*</font></label>

                    <input class="form-control" type="text" id="c_name" name="c_name" placeholder="c_name"
                           value="<?php echo $c_name; ?>" required>
                </div>
                <div class="form-group">
                    <label for="full_desc" class="control-label"><?php echo $label_Description;?>: </label>

                    <textarea class="form-control" id="full_desc" name="full_desc" placeholder="full_desc"
                              rows="5"><?php echo $full_desc; ?></textarea>
                </div>
                <div class="form-group">
                    <label for="country" class="control-label"><?php echo $label_Country; ?>: <font color="red">*</font></label>

                    <input class="form-control" type="text" id="country" name="country" placeholder="country"
                           value="<?php echo $country; ?>" required>
                </div>
                <div class="form-group">
                    <label for="city" class="control-label"><?php echo $label_City; ?>: <font color="red">*</font></label>

                    <input class="form-control" type="text" id="city" name="city" placeholder="city"
                           value="<?php echo $city; ?>" required>
                </div>
                <div class="form-group">
                    <label for="address" class="control-label"><?php echo $label_Address;?>: <font color="red">*</font></label>

                    <input class="form-control" type="text" id="address" name="address" placeholder="address"
                           value="<?php echo $address; ?>" required>
                </div>
                <div class="form-group">
                    <label for="c_tel" class="control-label"><?php echo $label_Tel;?>: <font color="red">*</font></label>

                    <input class="form-control" type="text" id="c_tel" name="c_tel" placeholder="c_tel"
                           value="<?php echo $c_tel; ?>" required>
                </div>
                <div class="form-group">
                    <label for="email" class="control-label">E-mail: </label>

                    <input class="form-control" type="text" id="email" name="email" placeholder="email"
                           value="<?php echo $email; ?>">
                </div>
                <div class="form-group">
                    <label for="site" class="control-label"><?php echo $label_WebSite; ?>: </label>

                    <input class="form-control" type="text" id="site" name="site" placeholder="site"
                           value="<?php echo $site; ?>">
                </div>
              <!--  <div class="form-group">
                    <label for="contact" class="control-label"><?php echo $label_CPerson; ?>: <font
                            color="red">*</font></label>

                    <input class="form-control" type="text" id="contact" name="contact" placeholder="contact"
                           value="<?php echo $contact; ?>" required>
                </div>
                <div class="form-group">
                    <label for="service" class="control-label"><?php echo $label_Services; ?>: </label>

                    <input class="form-control" type="text" id="service" name="service" placeholder="service"
                           value="<?php echo $service; ?>">
                </div> -->
                <div class="form-group">
                            <label for="userfile" class="control-label"><?php echo $label_ChangeLogo; ?>:</label>

                            <!-- Название элемента input определяет имя в массиве $_FILES -->
                            <input class="form-control" type="file" id="userfile" name="userfile">

                        </div>
                
                <div class="form-group">
                    <button type="submit" name="submit" class="btn btn-primary"><?php echo $btn_Save;?></button>
                </div>
   
            </form>

            <div class="col-md-2"></div>
            <div class="clearfix"></div>
            <div class="alert alert-info" role="alert"><?php echo $label_Alert; ?></div>

        </article>
        <!-- /Article -->

    </div>
</div>    <!-- /container -->
<script src ="../../js/my_select.js">
</script> 
