<header id="head" class="secondary"></header>
<!-- container -->
<div class="container">
    <div class ="col-sm-11 col-sm-offset-1">
    <ol class="breadcrumb">
        <li><a href="<?php echo BEZ_HOST; ?>?mode=index"><?php echo $menu_Index ?></a></li>
        <li><a href="<?php echo BEZ_HOST; ?>?mode=profile"><?php echo $label_UAccount; ?></a></li>
        <li class="active"><?php echo $label_CompanyAdmin; ?></li>
    </ol>
    <ul style="list-style-type: none">
         <h4><li class="active"><a href="<?php echo $_SERVER['HTTP_REFERER']; ?>" ><strong><?php echo $label_Back; ?></strong></a></li></h4>
    </ul>
    </div>
    </div>
    <div class="row">

        <!-- Article main content -->
        <article class="col-md-10 col-md-offset-1 maincontent">
            <header class="page-header">
                <h1 class="page-title"><?php echo $label_AdminPanel ?></h1>
            </header>

            <div class="col-md-6">
                <h3><?php echo $label_RegPeople; ?>:</h3>
                <form class="form-horizontal" enctype="multipart/form-data" action="" method="POST">
                    <input type="hidden" name="MAX_FILE_SIZE" value="3000000"/>
                    <div class="form-group">
                        <label for="user_name"><?php echo $label_FullName; ?></label>
                        <input class="form-control" type="text" id="user_name" name="user_name">
                    </div>
                    <div class="form-group">
                        <label for="department"><?php echo $label_Department;?></label>
                        <input class="form-control" type="text" id="department" name="department">
                    </div>
                    <div class="form-group">
                        <label for="position"><?php echo $label_Position; ?></label>
                        <input class="form-control" type="text" id="position" name="position">
                    </div>
                    <div class="form-group">
                        <label for="tel"><?php echo $label_Tel; ?></label>
                        <input class="form-control" type="text" id="tel" name="tel">
                    </div>
                    <div class="form-group">
                        <label for="email">E-mail</label>
                        <input class="form-control" type="email" id="email" name="email">
                    </div>
                    <div class="form-group">
                        <label for="pass"><?php echo $label_Password; ?></label>
                        <input class="form-control" type="password" id="pass" name="pass">
                    </div>
                    <div class="form-group">
                        <button type="submit" name="submit" class="btn btn-primary"><?php echo $btn_Add; ?></button>
                    </div>
                </form>
            </div>
            <div class="col-md-5 col-md-offset-1">
                <h3><?php echo $label_Employers; ?>:</h3>
                <?php echo $employees; ?>
            </div>

        </article>
        <!-- /Article -->

    </div>
</div>    <!-- /container -->