 <header id="head" class="secondary"></header>

<!-- container -->
<div class="container">
<div class ="col-sm-11 col-sm-offset-1">
    <ol class="breadcrumb">
        <li><a href="<?php echo BEZ_HOST; ?>?mode=index"><?php echo $label_Index; ?></a></li>
        <li class="active"><?php echo $label_CReg; ?></li>
    </ol>
</div>
    <div class="row">

        <!-- Article main content -->
        <article class="col-md-10 col-md-offset-1 maincontent">
            <header class="page-header">
                <h1 class="page-title"><?php echo $label_CReg; ?></h1>
            </header>


                <form class="form-horizontal" enctype="multipart/form-data" action="" method="POST">
                    <input type="hidden" name="MAX_FILE_SIZE" value="3000000"/>

                    <h3><?php echo $label_BInfo; ?></h3>
              
                    <div class="form-group">
                        <label for="cat" class="control-label"><?php echo $label_Activity; ?>: <font color="red">*</font></label><br>
                        <input class="form-control" type = "text" placeholder ='Начните вводить вид деятельности или выберите его из списка' id ="ch_select" size = 100 name="cat" required>
                        <div id = "save"><?php echo $res; ?></div>
                    </div>
                    <div class="form-group">
                            <label for="c_name" class="control-label"><?php echo $label_Title; ?>: <font color="red">*</font></label>
                            <input class="form-control" type="text" id="c_name" name="c_name" placeholder="Название компании" required>
                            
                    </div>
                     
                        <!-- div class="form-group">
                            <label for="short_desc" class="control-label"><?php echo $label_SDescription; ?>: </label>

                            <textarea class="form-control" id="short_desc" name="short_desc" placeholder="Короткое описание"
                                      rows="5"></textarea>

                        </div -->
                        <div class="form-group">
                            <label for="full_desc" class="control-label"><?php echo $label_FDescription; ?>:</label>

                            <textarea class="form-control" id="full_desc" name="full_desc" placeholder="Полное описание"
                                      rows="5"></textarea>

                        </div>

                        <h3><?php echo $label_CDetails; ?></h3>
                        <div class="form-group">
                            <label for="country" class="control-label"><?php echo $label_Country; ?>: <font color="red">*</font></label>

                            <input class="form-control" type="text" id="country" name="country" placeholder="Страна" required>

                        </div>
                        <div class="form-group">
                            <label for="city" class="control-label"><?php echo $label_City; ?>: <font color="red">*</font></label>

                            <input class="form-control" type="text" id="city" name="city" placeholder="Город" required>

                        </div>
                        <div class="form-group">
                            <label for="address" class="control-label"><?php echo $label_Address; ?>: <font color="red">*</font></label>

                            <input class="form-control" type="text" id="address" name="address" placeholder="Адрес" required>

                        </div>
                        <div class="form-group">
                            <label for="c_tel" class="control-label"><?php echo $label_Tel; ?>: <font color="red">*</font></label>

                            <input class="form-control" type="text" id="c_tel" name="c_tel" placeholder="+7 (000) 000-0000" required>

                        </div>
                        <div class="form-group">
                            <label for="email" class="control-label">E-mail:</label>

                            <input class="form-control" type="text" id="email" name="email" placeholder="example@example.com">

                        </div>
                        <div class="form-group">
                            <label for="site" class="control-label"><?php echo $label_WebSite; ?>:</label>

                            <input class="form-control" type="text" id="site" name="site" value="http://" data-toggle="tooltip"
                                   data-placement="right" title="http://example.com/" data-original-title="http://example.com/">

                        </div>
                        <!-- <div class="form-group">
                            <label for="contact" class="control-label"><?php echo $label_CPerson; ?>: <font color="red"></font></label>

                            <input class="form-control" type="text" id="contact" name="contact" placeholder="Контактное лицо"
                                   value="<?php echo $_SESSION['uName']; ?>">

                        </div> -->

                        <!-- h3><?php echo $label_Payment; ?></h3>
                        <div class="form-group">
                            <label for="c_urname" class="control-label"><?php echo $label_LName; ?>:</label>

                            <input class="form-control" type="text" id="c_urname" name="c_urname" placeholder="Юридическое название">

                        </div>

                        <div class="form-group">
                            <label for="c_inn" class="control-label"><?php echo $label_INN; ?>: </label>

                            <input class="form-control" type="text" id="c_inn" name="c_inn" placeholder="ИНН">
                            <span class="help-block">Only for companies from Russia.</span>

                        </div>

                        <div class="form-group">
                            <label for="c_kpp" class="control-label"><?php echo $label_KPP; ?>:</label>

                            <input class="form-control" type="text" id="c_kpp" name="c_kpp" placeholder="КПП">
                            <span class="help-block">Only for companies from Russia.</span>

                        </div>
                        <div class="form-group">
                            <label for="c_fio" class="control-label"><?php echo $label_FIOGD; ?>:</label>

                            <input class="form-control" type="text" id="c_fio" name="c_fio" placeholder="ФИО руководителя">

                        </div>
                        <div class="form-group">
                            <label for="c_dolg" class="control-label"><?php echo $label_Dolg; ?>:</label>

                            <input class="form-control" type="text" id="c_dolg" name="c_dolg" placeholder="Должность руководителя">
                            <span class="help-block">Only for companies from Russia.</span>

                        </div>
                        <div class="form-group">
                            <label for="c_bank" class="control-label"><?php echo $label_Bank; ?>:</label>

                            <input class="form-control" type="text" id="c_bank" name="c_bank" placeholder="Банк">

                        </div>
                        <div class="form-group">
                            <label for="c_bik" class="control-label"><?php echo $label_BIK; ?>:</label>

                            <input class="form-control" type="text" id="c_bik" name="c_bik" placeholder="БИК">

                        </div>
                        <div class="form-group">
                            <label for="c_rs" class="control-label"><?php echo $label_RS; ?>:</label>

                            <input class="form-control" type="text" id="c_rs" name="c_rs" placeholder="Расчетный счет">

                        </div>
                        <div class="form-group">
                            <label for="c_ks" class="control-label"><?php echo $label_KS; ?>:</label>

                            <input class="form-control" type="text" id="c_ks" name="c_ks" placeholder="Корреспондентский счет">

                        </div -->

                        <h3><?php echo $label_Other; ?></h3>
                       <!-- <div class="form-group">
                            <label for="service" class="control-label"><?php echo $label_Services; ?>: </label>

                            <input class="form-control" type="text" id="service" name="service" placeholder="Услуги">

                        </div>  -->
                        <div class="form-group">
                            <label for="userfile" class="control-label"><?php echo $label_CLogo; ?>:</label>

                            <input class="form-control" type="file" id="userfile" name="userfile">

                        </div>
                        <div class="form-group">
                            <label for="agent_id" class="control-label">кто регистрирует</label>
                            <select name = "agent_id" id = "name">
                                <?php echo $managers; ?>
                            </select>
                        </div>
                        <div class="form-group">
                            <button type="submit" name="submit" class="btn btn-primary"><?php echo $label_AddCompany; ?></button>
                        </div><br>
                        <div class="alert alert-info" role="alert"><?php echo $label_Alert; ?></div>
                     
                </form>

                <div class="col-md-2"></div>
                <div class="clearfix"></div>
               

        </article>
        <!-- /Article -->

    </div>
</div>    <!-- /container -->
<script src ="../../js/my_select.js">
</script>   