<header id="head" class="secondary"></header>
<!-- container -->
<div class="container">
    <div class ="col-sm-10 col-sm-offset-1">
    <ol class="breadcrumb">
        <li><a href="<?php echo BEZ_HOST; ?>?mode=index">Главная</a></li>
        <li class="active">Поиск компаний</li>
    </ol><br>
     <ul style="list-style-type: none">
         <h4><li class="active"><a href="<?php echo $_SERVER['HTTP_REFERER']; ?>" ><strong>Назад</strong></a></li></h4>
    </ul>
    </div>
    <div class="row">
        <!-- Article main content -->
        <article class="col-md-10 col-md-offset-1 maincontent">
            <header class="page-header">
                <h1 class="page-title">Редактирование заказа</h1>
            </header>

            <form class="form-horizontal" action="" method="POST" enctype="multipart/form-data">
                <input type="hidden" id="id_order" name="id_order" value="<?php echo $id_order; ?>">

                <div class="form-group">
                    <label for="content" class="col-sm-3 control-label">Текст заказа</label>

                    <div class="col-sm-9">
                        <textarea id="content" name="content" class="form-control"
                                  rows="5"><?php echo $content; ?></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="o_type" class="col-sm-3 control-label">Запрос или заказ</label>

                    <div class="col-sm-9">
                        <input class="form-control" type="text" id="o_type" name="o_type"
                               value="<?php echo $o_type; ?>" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label for="o_section" class="col-sm-3 control-label">Тип заказа</label>

                    <div class="col-sm-9">
                        <input class="form-control" type="text" id="o_section" name="o_section"
                               value="<?php echo $section; ?>" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label for="add_date" class="col-sm-3 control-label">Дата добавления</label>

                    <div class="col-sm-9">
                        <input class="form-control" type="date" id="add_date" name="add_date"
                               value="<?php echo $add_date; ?>">
                    </div>
                </div>
                <div class="form-group">
                    <label for="end_date" class="col-sm-3 control-label">Дата окончания</label>

                    <div class="col-sm-9">
                        <input class="form-control" type="date" id="end_date" name="end_date"
                               value="<?php echo $end_date; ?>">
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="add_file[]" class="col-sm-3 control-label">Добавить файл</label>

                    <div class="col-sm-9">
                        <input class="form-control" type="file" id="add_file[]" name="add_file[]"
                               multiple="multiple">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-6 col-sm-offset-3">
                        <h4>Загруженные файлы: </h4>
                    </div>
                </div>
                <div class="form-group">
                    <?php echo $files; ?>
                </div>
                    
                <div class="form-group">
                    <label for="result" class="col-sm-3 control-label">Количество файлов</label>

                    <div class="col-sm-9">
                        <input class="form-control" type="text" id="result" name="result" value="<?php echo $result; ?>"
                               disabled>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9">
                        <button type="submit" name="submit" class="btn btn-default"><?php echo $btn_Save; ?></button>
                    </div>
                </div>
            </form>
        </article><!-- /Article --></div>
</div><!-- /container -->