
<header id="head" class="secondary"></header>
<!-- container -->
<div class="container">
    <div class ="col-sm-10 col-sm-offset-1">
    <ol class="breadcrumb">
        <li><a href="<?php echo BEZ_HOST; ?>?mode=index"><?php echo $label_Index; ?></a></li>
        <li class="active"><?php echo $label_OAdd; ?></li>
    </ol>
    </div>
    <div class="row">
        <!-- Article main content -->
        <article class="col-md-10 col-md-offset-1 maincontent">
            <header class="page-header">
                <h1 class="page-title"><?php echo $label_OAdd; ?></h1>
            </header>

            <div class="form-group" style="margin-top:-10px">
                <div class="control-label" style="text-align: left"><h4><strong><?php echo $text; ?></strong></h4></div>
            </div>
            
            <form class="form-horizontal" enctype="multipart/form-data" action="" method="POST">
                <!-- div class="form-group">
                    <label for="o_type">Запрос или заказ:</label>

                    <select class="form-control" id="o_type" name="o_type">
                        <option value="Заказ" selected>Заказ</option>
                        <option value="Запрос цен">Запрос цен</option>
                    </select>
                    <span class="help-block">Выберите тип.</span>

                </div -->
                
               
        
                <div class="form-group">
                        <label for="cat" class="control-label"><?php echo $label_Activity; ?>:</label><br>
                        <input class="form-control" type = "text" placeholder ='Начните вводить вид деятельности или выберите его из списка' id ="ch_select" size = 100 name="cat" required>
                        <div id = "save"><?php echo $res; ?></div>
                    </div>
                <div class="form-group">
                    <label for="o_title"><?php echo $label_AddOrder; ?>:</label>

                    <input type="text" class="form-control" id="o_title" name="o_title">
                    <span class="help-block"><?php echo $label_AddOrderDesc; ?></span>
                </div>
                <div class="form-group">
                    <label for="content"><?php echo $label_OrderDesc; ?>:</label>

                    <textarea class="form-control" id="content" name="content" placeholder=""
                              rows="10"></textarea>
                    <span class="help-block"><?php echo $label_OrderDescHelp; ?></span>
                </div>
                <div class="form-group">
                    <label for="end_date"><?php echo $label_EndDate; ?>:</label>

                <!--    <input class="form-control" type="date" id="end_date" name="end_date" value="<?php echo date('Y-m-d'); ?>">
                    <span class="help-block"><?php echo $label_EndDateDesc; ?></span>  -->
                  <input class="form-control datepicker" type="text" name="end_date" value="<?php echo date('Y-m-d'); ?>">
                    <span class="help-block"><?php echo $label_EndDateDesc; ?></span> 
                </div>

                <div class="form-group">
                    <label for="uploadFile[]"><?php echo $label_Files; ?>:</label>

                    <input class="form-control" type="file" id="uploadFile[]" name="uploadFile[]" multiple="multiple">
                    <span class="help-block"><?php echo $label_FLimit; ?> <?php echo $label_FExt; ?>: ".gif", ".jpg", ".jpeg", ".png", ".tif", ".pdf", ".xls", ".xlsx", ".doc", "docx"</span>

                </div>

                <div class="form-group">
                    <button type="submit" name="submit" class="btn btn-primary"><?php echo $btn_Save; ?></button>

                </div>
            </form>

            <div class="col-md-2"><!-- <?php echo $yourIP; ?> --></div>
            <div class="clearfix"></div>
            <div class="alert alert-info" role="alert"><?php echo $label_Alert; ?></div>

        </article>
        <!-- /Article -->

    </div>
</div>    <!-- /container -->
<script src ="../../js/my_select.js">
</script> 