<header id="head" class="secondary"></header>
<!-- container -->
<div class="container">
    <div class ="col-sm-10 col-sm-offset-1">
    <ol class="breadcrumb">
        <li><a href="<?php echo BEZ_HOST; ?>?mode=index"><?php echo $label_Index; ?></a></li>
        <li class="active"><?php echo $label_ViewOrders; ?></li>
    </ol>
    </div>
    <div class="row">

        <!-- Article main content -->
        <article class="col-md-10 col-md-offset-1 maincontent">
            <header class="page-header">
                <h1 class="page-title"><?php echo $label_ViewOrders; ?></h1>
            </header>

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#current" aria-controls="current" role="tab" data-toggle="tab"><?php echo $label_CurrentOrder; ?></a></li>
                <li role="presentation"><a href="#archive" aria-controls="archive" role="tab" data-toggle="tab"><?php echo $label_ArchiveOrders;?></a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="current">
                    <br><?php echo $table; ?>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="archive">
                    <br><?php echo $table2; ?>
                </div>
            </div>
        </article><!-- /Article --></div>
</div><!-- /container -->