<header id="head" class="secondary"></header>

<!-- container -->
<div class="container">

    <ol class="breadcrumb">
        <li><a href="<?php echo BEZ_HOST; ?>?mode=index"><?php echo $label_Index; ?></a></li>
        <li class="active"><?php echo $label_AllCompanys; ?></li>
    </ol>

    <div class="row">

        <!-- Article main content -->
        <article class="col-md-10 col-md-offset-1 maincontent">
            <header class="page-header">
                <h1 class="page-title"><?php echo $label_AllCompanys; ?></h1>
            </header>

            <?php echo $list_companys; ?>

        </article>
        <!-- /Article -->

    </div>
</div>    <!-- /container -->