<header id="head" class="secondary"></header>

<!-- container -->
<div class="container">

    <ol class="breadcrumb">
        <li><a href="<?php echo BEZ_HOST; ?>?mode=index"><?php echo $label_Index; ?></a></li>
        <li class="active"><?php echo $btn_SignIn; ?></li>
    </ol>

    <div class="row">

        <!-- Article main content -->
        <article class="col-md-10 col-md-offset-1 maincontent">
            <header class="page-header">
                <h1 class="page-title"><?php echo $btn_SignIn; ?></h1>
            </header>

            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3 class="thin text-center"><?php echo $label_ASignIn; ?></h3>
                        <p class="text-center text-muted"><?php echo $label_AQuest; ?> <a href="<?php echo BEZ_HOST; ?>?mode=reg"><?php echo $btn_SignUp; ?>!</a></p>
                        <hr>

                        <form action="" method="POST">
                            <div class="top-margin">
                                <label>E-mail <span class="text-danger">*</span></label>
                                <input class="form-control" type="email" id="email" name="email" placeholder="E-mail">
                            </div>
                            <div class="top-margin">
                                <label><?php echo $label_Password; ?> <span class="text-danger">*</span></label>
                                <input class="form-control" type="password" id="pass" name="pass" placeholder="<?php echo $label_Password; ?>">
                            </div>
                            <a href = '?mode=send_password'><?php echo $label_ForgetPassword; ?></a>
                            <hr>
                            
                            <div class="row">
                                <!-- div class="col-lg-8">
                                    <b><a href="">Forgot password?</a></b>
                                </div -->
                                <div class="col-lg-4">
                                    <button class="btn btn-action" type="submit" name="submit"><?php echo $btn_SignIn; ?></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>

        </article>
        <!-- /Article -->

    </div>
</div>    <!-- /container -->