<header id="head" class="secondary"></header>
<!-- container -->
<div class="container" style = "overflow: hidden">
    <div class ="col-sm-11 col-sm-offset-1">
    <ol class="breadcrumb">
        <li><a href="<?php echo BEZ_HOST; ?>?mode=index"><?php echo $menu_Index; ?></a></li>
        <li class="active"><a href="?mode=my_pm"><?php echo $menu_Messages; ?></a></li>
        <li class="active"><a href="?mode=pm_view&pm_hash=<?php echo $pm_hash ?>&from=<?php echo $from ?>"><?php echo $label_Answers;?></a></li>
        <li class="active"><?php echo $label_Private; ?></li>
    </ol>
    <ul style="list-style-type: none">
         <h4><li class="active"><a href="<?php echo $_SERVER['HTTP_REFERER']; ?>" ><strong><?php echo $label_Back; ?></strong></a></li></h4>
    </ul> 
    </div>
    
    
    <div class="row">
    
        <!-- Article main content -->
        <article class="col-md-10 col-md-offset-1 maincontent">
            <header class="page-header">
                <h1 class="page-title"><?php echo $label_MessageRead; ?></h1>
            </header>
            
            <form class="form-horizontal" enctype="multipart/form-data" action="" method="POST">
                <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-1">
                        <textarea class="form-control" id="mess" name="mess" placeholder="<?php echo $label_WriteYouAnswer; ?>"
                                  rows="2"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-6 col-sm-offset-1">
                        <input type ="file" name ="message[]" size = "80" id ="message[]" multiple="multiple">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3 col-sm-offset-1">
                        <button type="submit" name="submit" class="btn btn-primary"><?php echo $label_Answer; ?></button>
                    </div>
                </div>
            </form><?php echo $messages; ?>

        </article>
    </div>
</div>