<header id="head" class="secondary"></header>

<!-- container -->
<div class="container">

    <ol class="breadcrumb">
        <li><a href="<?php echo BEZ_HOST; ?>?mode=index">Главная</a></li>
        <li class="active">Админка</li>
    </ol>

    <div class="row">

        <!-- Article main content -->
        <article class="col-xs-12 maincontent">
            <header class="page-header">
                <h1 class="page-title">Телеметрия системы</h1>
            </header>

            <div class="col-md-12">
                <div class="col-md-3">Заказов: <span class="label label-default"><?php echo $rows11; ?></span></div>
                <div class="col-md-3">Чертежей: <span class="label label-default"><?php echo $rows22; ?></span></div>
                <div class="col-md-3">Компаний: <span class="label label-default"><?php echo $rows33; ?></span></div>
                <div class="col-md-3">Пользователей: <span class="label label-default"><?php echo $rows44; ?></span></div>
                <div class="clearfix"></div><hr>
                <p><strong>Количество фирм в каталоге:</strong></p> <?php echo $time; ?>
                <?php echo $log; ?>
                <?php echo $summary; ?>
                <hr>
                <a href="http://job.industrialorder.com/?mode=about" target="_blank">TEST IT!</a><hr>
                <?php echo $a; ?>
            </div>

        </article>
        <!-- /Article -->

    </div>
</div>    <!-- /container -->