<header id="head" class="secondary"></header>
<!-- container -->
<div class="container">

    <ol class="breadcrumb">
        <li><a href="<?php echo BEZ_HOST; ?>?mode=index"><?php echo $label_Index; ?></a></li>
        <li class="active"><?php echo $label_AddFiles; ?></li>
    </ol>

    <div class="row">

        <!-- Article main content -->
        <article class="col-md-10 col-md-offset-1 maincontent">
            <header class="page-header">
                <h1 class="page-title"><?php echo $label_AddFiles; ?></h1>
            </header>

            <form class="form-horizontal" enctype="multipart/form-data" action="" method="POST">
                <div class="form-group">
                    <label for="uploadFile[]"><?php echo $label_Files; ?>:</label>

                    <input class="form-control" type="file" id="uploadFile[]" name="uploadFile[]" multiple="multiple">
                    <span class="help-block"><?php echo $label_FLimit; ?> <?php echo $label_FExt; ?>: ".gif", ".jpg", ".jpeg", ".png", ".tif", ".tiff"</span>

                </div>

                <div class="form-group">
                    <button type="submit" name="submit" class="btn btn-primary"><?php echo $btn_Save; ?></button>

                </div>
            </form>

        </article>
        <!-- /Article -->

    </div>
</div>    <!-- /container -->