<header id="head" class="secondary"></header>
<!-- container -->
<div class="container">
    <div class ="col-sm-10 col-sm-offset-1">
    <ol class="breadcrumb">
        <li><a href="<?php echo BEZ_HOST; ?>?mode=index"><?php echo $menu_Index; ?></a></li>
        <li class="active"><?php echo $menu_Messages; ?></li>
    </ol>
    </div>
    <div class="row">
        <!-- Article main content -->
        <article class="col-md-10 col-md-offset-1 maincontent">
            <header class="page-header">
                <h1 class="page-title"><?php echo $menu_Messages; ?></h1>
            </header>
            <!-- div class="col-md-6"><a href="<?php BEZ_HOST; ?>?mode=" class="btn btn-default btn-xs">Входящие</a>
                <a href="<?php BEZ_HOST; ?>?mode=" class="btn btn-default btn-xs">Отправленные</a>
                <a href="<?php BEZ_HOST; ?>?mode=" class="btn btn-default btn-xs">Корзина</a></div -->
            <?php echo $pm_status; ?>

            <!-- Nav tabs -->
           <!-- <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#incoming" aria-controls="incoming" role="tab"
                                                          data-toggle="tab">Входящие</a></li>   -->
                <!-- li role="presentation"><a href="#sending" aria-controls="sending" role="tab"
                                           data-toggle="tab">Отправленные</a></li -->
               <!-- <li role="presentation"><a href="#read" aria-controls="read" role="tab"
                                           data-toggle="tab">Прочитанные</a></li>  -->
         <!--   </ul>    -->

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="incoming">
                    <br><?php echo $table_incoming; ?>
                </div>
                <!-- div role="tabpanel" class="tab-pane fade" id="sending">
                    <br><?php echo $table_sending; ?>
                </div -->
                <div role="tabpanel" class="tab-pane fade" id="read">
                    <br><?php echo $table_read; ?>
                </div>
            </div>
        </article>
    </div>
</div>