<header id="head" class="secondary"></header>

<!-- container -->
<div class="container">
    <div class ="col-sm-10 col-sm-offset-1">
    <ol class="breadcrumb">
        <li><a href="<?php echo BEZ_HOST; ?>?mode=index"><?php echo $label_Index; ?></a></li>
        <li class="active"><?php echo $label_Contacts; ?></li>
    </ol>
    </div>
    <div class="row">

        <!-- Article main content -->
        <article class="col-md-10 col-md-offset-1 maincontent">
            <header class="page-header">
                <h1 class="page-title"><?php echo $label_ContactsH1; ?></h1>
            </header>

                <div class="jumbotron">
                    <h1><?php echo $label_ContactUs; ?></h1>
                    <p><?php echo $label_CentralOffice; ?></p>
                    <p><?php echo $label_World; ?></p>
                </div>
                <hr>
                <form class="form-horizontal" action="" method="POST">
                    <div class="form-group">
                        <label for="name" class="col-md-3 control-label"><?php echo $label_Name; ?> <font color="red">*</font></label>

                        <div class="col-md-9">
                            <input class="form-control" type="text" id="name" name="name" placeholder="Ваше имя"
                                   value="<?=($_SESSION['uName']) ? $_SESSION['uName'] : ''?>">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-md-3 control-label">E-mail <font color="red">*</font></label>

                        <div class="col-md-9">
                            <input class="form-control" type="email" id="email" name="email" placeholder="Ваш E-mail"
                                   value="<?=($_SESSION['login']) ? $_SESSION['login'] : ''?>">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="message" class="col-md-3 control-label"><?php echo $label_Message; ?> <font color="red">*</font></label>
                        <div class="col-sm-9">
                            <textarea class="form-control" rows="5" name="message" placeholder="Ваше сообщение"></textarea>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-9">
                            <button type="submit" name="submit" class="btn btn-primary"><?php echo $btn_Send; ?></button>
                        </div>
                    </div>
                </form>

                <div class="alert alert-info" role="alert"><?php echo $label_Alert; ?></div>

        </article>
        <!-- /Article -->

    </div>
</div>    <!-- /container -->