<header id="head" class="secondary"></header>
<!-- container -->
<div class="container">
 
 <div class ="col-sm-10 col-sm-offset-1">
    <ol class="breadcrumb">
        <li><a href="<?php echo BEZ_HOST; ?>?mode=index"><?php echo $label_Index; ?></a></li>
        <li class="active"><?php echo $label_News; ?></li>
    </ol>
<ul style="list-style-type: none">
         <h4><li class="active"><a href="<?php echo $_SERVER['HTTP_REFERER']; ?>" ><strong><?php echo $label_Back; ?></strong></a></li></h4>
    </ul>
     </div>
    <div class="row">

        <!-- Article main content -->
        <article class="col-md-10 col-md-offset-1 maincontent">
            <header class="page-header">
                <h1 class="page-title"><?php echo $label_News; ?></h1>
            </header>
            <?php echo $summary; ?>
        </article>
        <!-- /Article -->

    </div>
</div>    <!-- /container -->