<header id="head" class="secondary"></header>
<!-- container -->
<div class="container">
    <div class ="col-sm-11 col-sm-offset-1">
    <ol class="breadcrumb">
        <li><a href="<?php echo BEZ_HOST; ?>?mode=index"><?php echo $label_Index; ?></a></li>
        <li class="active"><?php echo $label_OSearch; ?></li>
    </ol>
        <ul style="list-style-type: none">
         <h4><li class="active"><a href="<?php echo $_SERVER['HTTP_REFERER']; ?>" ><strong><?php echo $label_Back; ?></strong></a></li></h4>
    </ul>
    </div>
    <div class="row">
        <!-- Article main content -->
        <article class="col-md-10 col-md-offset-1 maincontent">
            <header class="page-header">
                <h1 class="page-title"><?php echo $label_OSearch; ?></h1>
            </header>

                <form autocomplete="off" class="form-horizontal" method="post" action="?mode=search">
                    <div class="form-group">
                        <label for="cat"><?php echo $label_Activity; ?>:</label><br>
                        <input class="form-control" type = "text" placeholder ="<?php echo $label_Action1 ?>" id ="ch_select" size = 100 name="cat"><br>
                        <div id = "save"><?php echo $res; ?></div>
                        <span class="help-block"><?php echo $label_Section; ?></span>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-4">
                            <input type="submit" autocomplete="off" name="submit" class="btn btn-primary btn-sm" value="<?php echo $btn_Search; ?>">
                        </div>
                    </div>
                </form>
                <hr>
                    <div class="form-group">
                        <?php echo $all_orders; ?>
                    </div>
                    <div class="form-group">
                        <?php echo $show; ?>
                    </div>
        </article>
        <!-- /Article -->

    </div>
</div>    <!-- /container -->

<script src ="../../js/my_select.js">
</script> 