<header id="head" class="secondary"></header>
<!-- container -->
<div class="container">

    <ol class="breadcrumb">
        <li><a href="<?php echo BEZ_HOST; ?>?mode=index"><?php echo $label_Index; ?></a></li>
        <li class="active"><?php echo $label_OSearch; ?></li>
    </ol>

    <div class="row">

        <!-- Article main content -->
        <article class="col-md-10 col-md-offset-1 maincontent">
            <header class="page-header">
                <h1 class="page-title"><?php echo $label_OSearch; ?></h1>
            </header>

                <form class="form-horizontal" method="post" action="?mode=search">
                    <!-- div class="form-group">
                        <label for="o_type" control-label">Секция:</label>
                            <select class="form-control" name="o_type" id="o_type">
                                <option value="Запрос цен">Запрос цен</option>
                                <option value="Заказ">Заказ</option>
                            </select>
                    </div -->

                    <div class="form-group">
                        <label for="cat"><?php echo $label_Activity; ?>:</label>
                        <select class="form-control js-example-basic-single" size="15" name="cat" id="cat"> <!--  multiple -->
                            <?php echo $summary; ?>
                        </select>
                        <span class="help-block"><?php echo $label_Section; ?></span>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-4">
                            <input type="submit" name="submit" class="btn btn-primary btn-sm" value="<?php echo $btn_Search; ?>">
                        </div><br><br><br>
                        <div class="form-group">
                            <?php echo $summary1; ?>
                           
                        </div>
                    </div>
                </form>
                <hr>
                <!-- div class="blog-header">
                    <h2 class="blog-title">Последние добавленные заказы:</h2>
                    <p class="lead blog-description">
                        <?php echo $table; ?>
                    </p>
                </div -->

        </article>
        <!-- /Article -->

    </div>
</div>    <!-- /container -->
