<?php
include "all_vacancy_orders.php";
if ($_SESSION['currentLng'] == "ru-ru") {
    $pageTitle = 'Поиск заказов по названию' . $label_PTitle;
    $pageDesc = 'В данном разделе публикуются заказы, которые оставили наши посетители. Если вы можете и готовы сделать заказ - связывайтесь с заказчиком напрямую';
} else {
    $pageTitle = 'Search orders by title' . $label_PTitle;
    $pageDesc = 'This section publishes the orders that our visitors left. If you can and are ready to make an order - contact the customer directly';
}

?>

<header id="head" class="secondary"></header>
<!-- container -->
<div class="container">
    <div class ="col-sm-10 col-sm-offset-1">
    <ol class="breadcrumb">
        <li><a href="<?php echo BEZ_HOST; ?>?mode=index"><?php echo $label_Index; ?></a></li>
        <li class="active"><?php echo $label_OSearchT; ?></li>
    </ol>
    </div>
    <div class="row">

        <!-- Article main content -->
        <article class="col-md-10 col-md-offset-1 maincontent">
            <header class="page-header">
                <h1 class="page-title"><?php echo $label_OSearchT; ?></h1>
            </header>

            <script type="text/javascript">

            </script>
            <form class="form-horizontal" action="" method="POST" id = "form">
                <div class="form-group">
                    <label for="search2" class="col-md-3 control-label"><?php echo $label_OSearchI; ?></label>

                    <div class="col-md-6">
                        <input class="form-control" type="text" name="search2" id="search2" placeholder="<?php echo $label_OSearchI; ?>">
                    </div>

                </div>
            </form>

            <div class="col-md-12">
                <ul class="form-control-static" id="search_result2"></ul>
            </div>
          
        <div id ="hidden">    
             <div class="col-md-12">
                <?php echo $all_orders; ?>
            </div>
            <div class="col-md-12">
                <?php echo  $show; ?>
            </div>
        </div>
        </article><!-- /Article -->
    </div>
</div><!-- /container -->
<script>
$(document).ready(function() {
      $('#form').keydown(function(event){
        if(event.keyCode == 13) {
          event.preventDefault();
          return false;
      } else {
          if(document.getElementById('search2').value.length >=2){
            document.getElementById('hidden').style.display = 'none';
        } else {
            document.getElementById('hidden').style.display = 'block';
        }
      }
   });
});
</script>