<form class="form-horizontal" enctype="multipart/form-data" action="" method="POST">

    <input type="hidden" name="MAX_FILE_SIZE" value="3000000"/>

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">
                <?php echo $btn_OQuest; ?>
            </button>
        </div>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel"><?php echo $label_YourQuest; ?></h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="pm_title" value="<?php echo $label_OQuest; ?> #<?php echo $_GET['vid']; ?>"/>

                    <div class="form-group">
                        <label for="o_quest" class="col-sm-3 control-label"><?php echo $label_YourQuest; ?>: </label>

                        <div class="col-sm-9">
                            <textarea id="o_quest" name="o_quest" class="form-control" rows="5"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="userfile" class="col-sm-3 control-label"><?php echo $label_File; ?></label>
                        <div class="col-sm-9">
                        <!-- Название элемента input определяет имя в массиве $_FILES -->
                        <input class="form-control" type="file" id="userfile" name="userfile">
                            <span class="help-block"><?php echo $label_FExt; ?>: ".gif", ".jpg", ".jpeg", ".png", ".tif", ".pdf", ".xls", ".xlsx", ".doc", "docx"</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><?php echo $btn_Close; ?></button>
                    <button type="submit" name="o_answer" class="btn btn-primary"><?php echo $btn_Send; ?></button>
                </div>
            </div>
        </div>
    </div>

</form>