<header id="head" class="secondary"></header>
<!-- container -->
<div class="container">
    <div class ="col-sm-10 col-sm-offset-1">
    <ol class="breadcrumb">
        <li><a href="<?php echo BEZ_HOST; ?>?mode=index"><?php echo $label_Index; ?></a></li>
        <li class="active"><?php echo $label_OView; ?></li>
    </ol>
    <ul style="list-style-type: none">
         <h4><li class="active"><a href="<?php echo $_SERVER['HTTP_REFERER']; ?>" ><strong>Назад</strong></a></li></h4>
    </ul>
    </div>
     
    <div class="row">
        <!-- Article main content -->
        <article class="col-md-10 col-md-offset-1 maincontent">
            <header class="page-header">
                <h1 class="page-title"><?php echo $label_Order; ?> #<?php echo $id_order; ?> : <?php echo $o_title; ?></h1>
            </header>

            <span class="fa fa-calendar-plus-o rightm" aria-hidden="true"> <?php echo $add_date; ?></span>
            <span class="fa fa-calendar-times-o rightm" aria-hidden="true"> <?php echo $end_date; ?></span>
            <span class="fa fa-pencil-square-o rightm" aria-hidden="true"> <?php echo $edit_date; ?></span>
            <span class="fa fa-eye" aria-hidden="true"> <?php echo $viewCount; ?></span>
            <?php
if ($user === false) {
    echo '<span><button type = "submit" data-toggle="modal" data-target="#myModal" class = "btn btn-primary dialog" style = "float: right">Зарегистрироваться</button></span>';
    }
    ?>

            <dl class="dl-horizontal">
                <!-- dt>Тип:</dt>
                <dd><?php echo $o_type; ?></dd -->
                
                <dt><?php echo $label_Category; ?>:</dt>
                <dd><?php echo $o_section; ?></dd>
                <dt><?php echo $label_Address; ?>:</dt>
                <dd><?php if ($user === false) {
            echo $country . ', ' . $city;
            }
            if ($user === true) {
            echo $country . ', ' . $city . ', ' . $address;
            }
            ?></dd>
                <dt>E-mail:</dt>
                <dd><?php
            if ($user === false) {
            echo '<div class="alert alert-info alert-lil" role="alert">' . $label_NeedAuth . '</div>';
    }
    if ($user === true) {
    echo "<a href='mailto:" . $email . "'>" . $email . "</a>";
    }
    ?></dd>
    <dt><?php echo $label_WebSite; ?>:</dt>
    <dd>
        <?php
            if ($user === false) {
            echo '<div class="alert alert-info alert-lil" role="alert">' . $label_NeedAuth . '</div>';
}
if ($user === true) {
echo '
<noindex><a href="' . $site . '" rel="nofollow" target="_blank">' . $site . '</a></noindex>
';
}
?>
</dd>
<dt><br><?php echo $label_Tel; ?>:</dt>
<dt><?php echo $label_Company; ?>:</dt>
<dd><?php
            if ($user === false) {
            echo '<div class="alert alert-info alert-lil" role="alert">' . $label_NeedAuth . '</div>';
    }
    if ($user === true) {
    echo $tel;
   
    }
    ?>
</dd>
<dd><?php
            if ($user === false) {
            echo '<div class="alert alert-info alert-lil" role="alert">' . $label_NeedAuth . '</div>';
    }
    if ($user === true) {
     echo $comp;
    }
    ?>
</dd>
<dt><?php echo $label_Description; ?>:</dt>
<dd><?php echo "<p>" . $content . "</p>"; ?></dd>
</dl>
<?php echo "<p>" . $jpg . $jpeg . $gif . $png . $tif . $pdf . "</p>" ?>
<?php
    if ($user === false) {
    echo '';
    }
    if ($user === true) {
    include 'order_quest.html';
    }
    
    
    
    ?>

</div>
</article>
<!-- /Article -->
</div>
</div>    <!-- /container -->
<div id="myModalBox" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content" style = "min-width: 70%">
        
        <div class="col-md-12 col-sm-12 c">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3 class="thin text-center"><?php echo $label_Reg; ?></h3>
                        <hr>

                        <form action="" method="POST">
                            <div class="top-margin">
                                <label>E-mail <span class="text-danger">*</span></label>
                                <input class="form-control" type="email" id="email" name="email" placeholder="E-mail">
                            </div>
                            <!-- div class="top-margin">
                                <label>Пароль <span class="text-danger">*</span></label>
                                <input class="form-control" type="password" id="pass" name="pass" placeholder="Пароль">
                            </div>
                            <div class="top-margin">
                                <label>Пароль <span class="text-danger">*</span></label>
                                <input class="form-control" type="password" id="pass2" name="pass2"
                                       placeholder="Пароль">
                            </div -->

                            <hr>

                            <div class="alert alert-info" role="alert"><?php echo $label_Alert; ?></div>
                            <div class="alert alert-info" role="alert"><?php echo $label_Attention; ?></div>

                            <hr>
                           
                            <div class="row">
                                <!-- div class="col-lg-8">
                                    <b><a href="">Forgot password?</a></b>
                                </div -->
                                <div class="col-lg-4">
                                    <button class="btn btn-success" type="submit" name="submit_reg"><?php echo $btn_SignUp; ?>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
       
    </div>
  </div>
</div>

<script>
 $(".dialog").click(function() {
$("#myModalBox").modal('show');
     }); 
    $(document).ready(function () {
        $(".fancybox").fancybox();
    });
</script>