<header id="head" class="secondary"></header>

<!-- container -->
<div class="container">

    <ol class="breadcrumb">
        <li><a href="<?php echo BEZ_HOST; ?>?mode=index"><?php echo $label_Index; ?></a></li>
        <li class="active"><?php echo $btn_SignUp; ?></li>
    </ol>

    <div class="row">

        <!-- Article main content -->
        <article class="col-md-10 col-md-offset-1 maincontent">
            <header class="page-header">
                <h1 class="page-title"><?php echo $btn_SignUp; ?></h1>
            </header>

            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3 class="thin text-center"><?php echo $label_Reg; ?></h3>
                        <hr>

                        <form action="" method="POST">
                            <div class="top-margin">
                                <label>E-mail <span class="text-danger">*</span></label>
                                <input class="form-control" type="email" id="email" name="email" placeholder="E-mail">
                            </div>
                            <!-- div class="top-margin">
                                <label>Пароль <span class="text-danger">*</span></label>
                                <input class="form-control" type="password" id="pass" name="pass" placeholder="Пароль">
                            </div>
                            <div class="top-margin">
                                <label>Пароль <span class="text-danger">*</span></label>
                                <input class="form-control" type="password" id="pass2" name="pass2"
                                       placeholder="Пароль">
                            </div -->

                            <hr>

                            <div class="alert alert-info" role="alert"><?php echo $label_Alert; ?></div>
                            <div class="alert alert-info" role="alert"><?php echo $label_Attention; ?></div>

                            <hr>
                           
                            <div class="row">
                                <!-- div class="col-lg-8">
                                    <b><a href="">Forgot password?</a></b>
                                </div -->
                                <div class="col-lg-4">
                                    <button class="btn btn-success" type="submit" name="submit"><?php echo $btn_SignUp; ?>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>

        </article>
        <!-- /Article -->

    </div>
</div>    <!-- /container -->