<header id="head" class="secondary"></header>
<!-- container -->
<div class="container">

    <ol class="breadcrumb">
        <li><a href="<?php echo BEZ_HOST; ?>?mode=index">Главная</a></li>
        <li><a href="<?php echo BEZ_HOST; ?>?mode=blog">Новости</a></li>
        <li class="active">Запись в блоге</li>
    </ol>

    <div class="row">

        <!-- Article main content -->
        <article class="col-md-10 col-md-offset-1 maincontent">
            <header class="page-header">
                <h1 class="page-title">Запись в блоге</h1>
            </header>

            <div class="entry-content">
                <p><img alt="" src="assets/images/mac.jpg"></p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, rerum voluptates veniam. Esse, nihil, ea, eaque, quos cum id tempore voluptate nisi nemo debitis impedit officiis culpa repellat voluptatum in aperiam error quo minima ratione ex pariatur maxime eligendi dolore nesciunt molestiae enim alias atque commodi delectus perferendis. Blanditiis, iste placeat nostrum in! Eligendi, omnis, unde, quos ullam nesciunt molestias quis a saepe nisi distinctio molestiae voluptate obcaecati officiis consequuntur similique aspernatur rerum sequi placeat iure quaerat itaque libero officia recusandae ad corrupti aperiam cum beatae. Adipisci ad natus deleniti.
                </p>
                <p>
                    Dolores harum alias consequatur blanditiis. Inventore, quod, ullam veritatis eum ratione neque quis fugit quae optio facilis in ipsa! Maiores, quia, possimus repellendus iusto nostrum nisi doloribus qui excepturi ducimus veritatis molestiae autem consequatur quae ex nihil id sapiente minima adipisci. Quibusdam, aperiam, sapiente, nobis, possimus vero laudantium delectus esse minus quo nihil perspiciatis accusamus. Cupiditate sapiente illum accusantium animi pariatur sed minima nam.
                </p>

                <blockquote>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, itaque, porro, non sequi sunt vel quibusdam harum ea ratione ipsum eius eos maxime vitae hic ab dignissimos natus assumenda similique earum laboriosam possimus debitis molestiae. Commodi, facilis, et, officia hic quos quas ipsam harum amet illum quia reprehenderit sequi repellat. Asperiores, fugiat, optio reiciendis nam nisi assumenda alias non similique modi ducimus nostrum quasi consequatur ipsa animi soluta!
                </blockquote>
                <p>
                    Harum, consectetur, quia nisi fugiat quasi ea amet cum inventore aperiam optio qui perspiciatis debitis molestiae laborum minima doloremque ullam eum nesciunt repellendus dolor dicta cumque deserunt. Quaerat, saepe, maxime, quod, dolor nisi assumenda aut est quos optio animi aliquid quidem voluptates adipisci hic recusandae dicta quis eligendi illo ducimus asperiores reiciendis odit distinctio natus? In, reprehenderit, facere, ipsam, vel architecto autem temporibus a quidem voluptatum at nesciunt quas facilis. Soluta, excepturi, nihil, illum dicta hic ratione tenetur voluptate dolorum a tempore dignissimos reprehenderit voluptas expedita officiis enim minus adipisci?</p>

                <h3>Deserunt, ullam, quo voluptate rem sed alias numquam eum natus!</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, aperiam, ab neque est cum iste reprehenderit quidem eligendi ad dicta ducimus quod nihil amet! Possimus, qui, dolorem, animi quas nesciunt corporis esse maiores iusto optio deserunt sequi aspernatur voluptatem velit suscipit nam temporibus eaque neque hic quaerat molestiae nisi dolor numquam similique quae voluptas quos ex! Pariatur, voluptas, voluptatibus corporis animi nihil beatae asperiores explicabo odio at aspernatur ea sapiente voluptatem placeat fugit quas magni tempore aliquid minima eos tempora in id eveniet et maxime iste a quaerat dolorum consequuntur?</p>

                <h4>Perferendis, odit, optio, exercitationem quas ipsa eius quod ut aperiam facilis iste ratione odio laborum?</h4>
                <p>Dolore aliquid ipsum cum sint velit! Esse, perferendis illo hic temporibus reprehenderit nemo veritatis omnis velit quas impedit at facilis voluptatibus blanditiis qui maiores quod incidunt nobis maxime.</p>
                <p>A, quo quibusdam iusto repellendus blanditiis. Repellendus, doloribus, veritatis blanditiis dolores cumque in pariatur magni velit quibusdam doloremque amet harum dicta neque voluptas possimus dignissimos corporis voluptatibus nemo nostrum quae fuga enim beatae voluptate ex maxime sequi iusto. Voluptate, neque, quisquam, ipsum reprehenderit pariatur magnam excepturi libero quis nam inventore recusandae molestiae temporibus explicabo vel eius facere sit quae deleniti laboriosam voluptatibus necessitatibus sequi distinctio!</p>
            </div>
        </article><!-- /Article -->
    </div>
</div><!-- /container -->