<!--
  ~ Copyright (c) 2017.
  -->

<header id="head" class="secondary"></header>

<!-- container -->
<div class="container">
    <div class ="col-sm-10 col-sm-offset-1">
    <ol class="breadcrumb">
        <li><a href="<?php echo BEZ_HOST; ?>?mode=index"><?php echo $label_Index; ?></a></li>
        <li class="active"><?php echo $label_AskQuestion;?></li>
    </ol>
    </div>
    <div class="row">

        <!-- Article main content -->
        <article class="col-xs-12 maincontent">
            <header class="page-header">
                <h1 class="page-title"><?php echo $label_AskQuestion;?></h1>
            </header>

            <div class="col-md-12">
                <form class="form-horizontal" enctype="multipart/form-data" action="" method="POST">
                    <input type="hidden" name="MAX_FILE_SIZE" value="3000000"/>
                    <div class="form-group">
                        <label for="cat" class="control-label"><?php echo $label_Activity; ?>: <font color="red">*</font></label><br>
                        <input class="form-control" type = "text" placeholder ="<?php echo $label_Action1;?>" id ="ch_select" size = 100 name="cat" required>
                        <div id = "save"><?php echo $res; ?></div>
                    </div>
                    
                    <div class="form-group">
                        <label for="subject"><?php echo $label_Theme;?></label>
                        <input class="form-control" type="text" id="subject" name="subject">
                    </div>
                    <div class="form-group">
                        <label for="question"><?php echo $label_Message;?></label>
                        <textarea class="form-control" type="text" id="question" name="question" rows="5"></textarea>
                    </div>
                    <div class="form-group">
                        <button type="submit" name="submit" class="btn btn-primary"><?php echo $btn_Save;?></button>
                    </div>
                </form>
            </div>

            <?php echo $show; ?>

        </article>
        <!-- /Article -->

    </div>
</div>    <!-- /container -->
<script src ="../../js/my_select.js">
</script> 