<style>
    body{overflow-x: hidden;}
    .slider{ -webkit-transition: margin-left 250ms};
    .slider{ -moz-transition: margin-left 250ms;}
    .slider{  -o-transition: margin-left 250ms;}
    .slider{  transition: margin-left 250ms; }
    #registr{display: none;}
    .show{border-color: #00a;
          border-radius: 20px}
    .pushy{ -webkit-transition: margin-left 250ms};
    .pushy{ -moz-transition: margin-left 250ms;}
    .pushy{  -o-transition: margin-left 250ms;}
    .pushy{  transition: margin-left 250ms; }
    .menu-btn{ -webkit-transition: margin-left 250ms};
    .menu-btn{ -moz-transition: margin-left 250ms;}
    .menu-btn{  -o-transition: margin-left 250ms;}
    .menu-btn{  transition: margin-left 250ms; }
    #order_ul{display: hidden;}
</style>

 


<!--
<div class="panel panel-default show" style = "max-width: 300px; max-height: 250px; border-width: 5px; position: absolute; left: 0; top: 20%" id = "border">
<div class="panel-body">
    <form action="" method="post" style="padding-left: 20px">

    <div>Оставьте контактные данные и мы зарегистрируем Вас самостоятельно.</div>
    <br><label for email>e-mail:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
    <input type="text" name ="email" placeholder="Введите ваш e-mail"><br>
    <label for email>web-сайт:</label>
    <input type="text" name ="site" placeholder="Введите адрес сайта"><br>
  </div>
<div class="panel-footer"><input type="submit" name ="reg_us" value="Отправить" class = "btn btn-primary"></div>
</div>
-->

<?php 
echo $mainText;
if ($user === true){
?>

<script>


    var auth = document.getElementById("registr");
    auth.style.display = "none";
</script>
<?php
}
if ($user === false){
?>
<script>
  
    
    var auth = document.getElementById("registr");
    var register = document.getElementsByClassName("register");
     auth.style.display = "block";
    //alert(registr[1].innerHTML);
    while (register[0]) {
        register[0].outerHTML = register[0].innerHTML;
    }
   
</script>
<?php
}
?>
<script>

    $('#js_hidden').css("display", 'none');
    window.onload = function () {
 

        var reg = document.getElementsByClassName('reg');
        var width_reg = screen.width / 4;

        for (var i = 0; i < reg.length; i++) {
            reg[i].style.width = parseInt(width_reg) + 'px';
            reg[i].style.position = "relative";

        }

        /*
         for(i = 0; i < reg.length; i++) {
         }
         reg[i].onmouseover = function(){
         var width_reg = getComputedStyle(this).width;
         var start_width = width_reg;
         //alert(target.parentElement.parentElement.innerHTML);
         //alert(screen.width);
         target = event.target;
         target.style.zIndex = 3;
         target.style.width = parseInt(width_reg) + parseInt(width_reg) * 3 / 4 + 'px';
         
         
         };
         }
         for(i = 0; i < reg.length; i++) {
         reg[i].onmouseout = function(){
         var width_reg = getComputedStyle(this).width;
         target = event.target;
         target.style.zIndex = 0;
         target.style.width = parseInt(width_reg) * 4 / 7 + 'px';
         
         }
         }
         
         */
    }
    
    var margin = $(window).width(); //screen.width;
    var screen = margin;
    if (screen < 500) {
        
        var helper = document.getElementById("helper");
        var How_this_work = document.getElementById("How_this_work");
        How_this_work.style.display = "none";
        helper.style.display= "none";
        var padd = Math.floor(screen / 25);
        var img = Math.floor((screen - padd) / 1);
        var cont = document.getElementsByClassName('cont')[0];
        var li = cont.querySelectorAll('li');
        var ul = document.querySelectorAll('ul');
        position = 0
        for (i = 0; i < li.length; i++) {
            li[i].style.width = img + 'px';
        }

        var slider = document.querySelector('.slider');
        var left_arrow = document.getElementById("left_arrow");
        left_arrow.style.position = "relative";
        left_arrow.style.left = -50 + '%';
        left_arrow.style.bottom = -70 + 'px';
        left_arrow.style.width = 15 + '%';

        var rigth_arrow = document.getElementById("rigth_arrow");
        rigth_arrow.style.position = "relative";
        rigth_arrow.style.left = 35 + '%';
        rigth_arrow.style.bottom = -70 + 'px';
        rigth_arrow.style.width = 15 + '%';

        rigth_arrow.onclick = function () {
            if (position <= -img * li.length / 2 + img * 2) {
                position = -img * li.length / 2 + img * 1;
            } else {
                position = position - (img * 1) - 2;
            }
            slider.style.marginLeft = position + 'px';
        }

        left_arrow.onclick = function () {
            if (position >= 0) {
                position = 0
            } else {
                position = position + (img * 1) + 2;
            }
            slider.style.marginLeft = position + 'px';
        }


    } else {
        var padd = Math.floor(screen / 25);
        var img = Math.floor((screen - padd) / 4);
        var cont = document.getElementsByClassName('cont')[0];
        var li = cont.querySelectorAll('li');
        var ul = document.querySelectorAll('ul');

        var position = 0;


        setInterval('rigth()', 5000);
        if (position <= -img * li.length / 2 + img * 8) {
            setInterval('left()', 100000);
        }
        // setInterval('left()' , 10000);
        for (i = 0; i < li.length; i++) {
            li[i].style.width = img + 'px';
        }

        var slider = document.querySelector('.slider');
        var left_arrow = document.getElementById("left_arrow");
        left_arrow.style.position = "relative";
        left_arrow.style.left = -50 + '%';
        left_arrow.style.bottom = -70 + 'px';

        var rigth_arrow = document.getElementById("rigth_arrow");
        rigth_arrow.style.position = "relative";
        rigth_arrow.style.left = 48 + '%';
        rigth_arrow.style.bottom = -70 + 'px';

        rigth_arrow.onclick = function () {
            rigth();
        }

        left_arrow.onclick = function () {
            if (position >= 0) {
                position = 0
            } else {
                position = position + (img * 4) + 8;
            }

            slider.style.marginLeft = position + 'px';
        }

        function rigth() {
            if (position <= -img * li.length / 2 + img * 4) {
                position = 0;  //-img * li.length / 2 + img *4
            } else {
                position = position - (img * 4) - 8;
            }

            slider.style.marginLeft = position + 'px';
        }
        function left() {
            position = 0;
            slider.style.marginLeft = position + 'px';
        }
    }


    var create_company1 = document.getElementById('create_company1');
    var create_order1 = document.getElementById('create_order1');
    var create_company = document.getElementById('create_company');
    var create_order = document.getElementById('create_order');
    var show_order1 = document.getElementById('show_order1');
    var show_order = document.getElementById('show_order');

    var create_company_second11 = document.getElementById('create_company_second11');
    var search_order1 = document.getElementById('search_order1');
    var create_company_second1 = document.getElementById('create_company_second1');
    var search_order11 = document.getElementById('search_order11');
    var send_order1 = document.getElementById('send_order1');
    var send_order11 = document.getElementById('send_order11');

    send_order11.onclick = function () {
        search_order1.hidden = true;
        search_order11.innerHTML = "Открыть подсказку";
        create_company_second1.hidden = true;
        create_company_second11.innerHTML = "Открыть подсказку";
    }

    create_company_second11.onclick = function () {
        search_order1.hidden = true;
        search_order11.innerHTML = "Открыть подсказку";
        send_order1.hidden = true;
        send_order11.innerHTML = "Открыть подсказку";
    }

    search_order11.onclick = function () {
        create_company_second1.hidden = true;
        create_company_second11.innerHTML = "Открыть подсказку";
        send_order1.hidden = true;
        send_order11.innerHTML = "Открыть подсказку";
    }



    show_order1.onclick = function () {
        create_order.hidden = true;
        create_order1.innerHTML = "Открыть подсказку";
        create_company.hidden = true;
        create_company1.innerHTML = "Открыть подсказку";
    }

    create_company1.onclick = function () {
        create_order.hidden = true;
        create_order1.innerHTML = "Открыть подсказку";
        show_order.hidden = true;
        show_order1.innerHTML = "Открыть подсказку";
    }
    create_order1.onclick = function () {
        create_company.hidden = true;
        create_company1.innerHTML = "Открыть подсказку";
        show_order.hidden = true;
        show_order1.innerHTML = "Открыть подсказку";
    }

    document.onclick = function (event) {
        var target = event.target;
        var id = target.getAttribute("data-toggle-id");
        var id1 = id + "1";


        if (!id) {
            return;
        }
        var elem = document.getElementById(id);
        elem.hidden = !elem.hidden;
        if (!id1) {
            return;
        } else {
            var elem1 = document.getElementById(id1);
            if (elem1.innerHTML == "Открыть подсказку") {
                elem1.innerHTML = "Закрыть подсказку";
            } else {
                elem1.innerHTML = "Открыть подсказку";
            }
        }
    }
    
    

</script>
