<header id="head" class="secondary"></header>
<!-- container -->
<div class="container">
    <div class ="col-sm-10 col-sm-offset-1">
    <ol class="breadcrumb">
        <li><a href="<?php echo BEZ_HOST; ?>?mode=index"><?php echo $menu_Index; ?></a></li>
        <li class="active"><a href="?mode=my_pm"><?php echo $menu_Messages; ?></a></li>
        <li class="active"><?php echo $label_Answers;?></li>
    </ol>
    <ul style="list-style-type: none">
         <h4><li class="active"><a href="?mode=my_pm" ><strong><?php echo $label_Back; ?></strong></a></li></h4>
    </ul>
    </div>
    
    <div class="row">
        <!-- Article main content -->
        <article class="col-md-10 col-md-offset-1 maincontent">
            <header class="page-header">
                <h1 class="page-title"><?php echo $label_MessageRead; ?></h1>
            </header>
            
<!--
            <form class="form-horizontal" enctype="multipart/form-data" action="" method="POST">
                <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-1">
            <textarea class="form-control" id="pm_answer" name="pm_answer" placeholder="Введите Ваш ответ"
                      rows="2"></textarea>
                    </div>
                </div>
                <!-- div class="form-group">
                    <div class="col-sm-6 col-sm-offset-1">
                        <input class="form-control" type="file" id="uploadFile[]" name="uploadFile[]" multiple="multiple">
                    </div>
                    </div -->
 <!--               <div class="form-group">
                    <div class="col-sm-3 col-sm-offset-1">
                        <button type="submit" name="submit" class="btn btn-default">Ответить</button>
                    </div>
                </div>
            </form>
-->
            <!-- div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="pull-right"><?php echo date('d.m.Y H:i', strtotime($rows2[0]['pm_date'])); ?></span>
                    <h3 class="panel-title"><?php echo $rows2[0]['pm_title']; ?></h3>
                </div>
                <div class="panel-body">
                    <?php echo nl2br($rows2[0]['pm_message']); ?>
                </div>
                <div class="panel-footer">
                    От кого: <?php echo $fromWho; ?>
                </div>
            </div -->

            <?php echo $messages; ?>

        </article><!-- /Article --></div>
    <div id="myModalBox" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
        
        <form name ="form" enctype="multipart/form-data" method ="post" action="">
            
      <!-- Заголовок модального окна -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Введите ваше сообщение: </h4>
      </div>
      <!-- Основное содержимое модального окна -->
      <div class="modal-body" style="text-align:center">
          
          <textarea class="form-control" rows = "10" name = "mess">
              
          </textarea><br>
          <input type ="file" name ="message[]" size = "80" id ="message[]" multiple="multiple"><br>
      </div> <!-- message ?>
      <!-- Футер модального окна -->
      <div class="modal-footer">
        <input type="submit" name ="submit" class="btn btn-primary">
      </div>
        </form>
       
    </div>
  </div>
</div>
   
    <script>
     
     
     $(".dialog").click(function() {

         $("#myModalBox").modal('show');
     }); 
    </script>
    <!--
<div id = "dialog">
    <form>
    <div style="text-align:center">
        Введите ваше сообщение:
    </div><br>
    <div style = "text-align:center; width:auto">
    <textarea cols="80" rows="10">    
    </textarea><br><br>
    </div>
    <label for message>Прикрепить файл</label>
    <input type ="file" name ="message" size = "80"><br>
    <input type="submit" name = "send" style="width: 400px; height: 40px">
    </form>
</div>
    -->
</div><!-- /container -->