<header id="head" class="secondary"></header>
<!-- container -->
<div class="container">
    <div class ="col-sm-11 col-sm-offset-1">
    <ol class="breadcrumb">
        <li><a href="<?php echo BEZ_HOST; ?>?mode=index"><?php echo $label_Index; ?></a></li>
        <li class="active"><?php echo $label_CSearch; ?></li>
    </ol>
    </div>
    <div class="row">

        <!-- Article main content -->
        <article class="col-md-10 col-md-offset-1 maincontent">
            <header class="page-header">
                <h1 class="page-title"><?php echo $label_CSearch; ?></h1>
            </header>

           <form autocomplete="off" class="form-horizontal" method="post" action="?mode=search_company">
                    <div class="form-group">
                        <label for="cat"><?php echo $label_Activity; ?>:</label><br>
                        <input class ="form-control" type = "text" placeholder ="<?php echo $label_Action1; ?>" id ="ch_select" size = 100 name="cat">
                        <div id = "save"><?php echo $res; ?></div>
                        <span class="help-block"><?php echo $label_Section; ?></span>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-4">
                            <input type="submit" autocomplete="off" name="submit" class="btn btn-primary btn-sm" value="<?php echo $btn_Search; ?>">
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <?php echo $summary1; ?>
                    </div>
               
                <div class="col-md-12">
                <?php echo $all_companys; ?>
            </div>
                <div class="col-md-12">
                <?php echo $show; ?>
            </div>
            </form>
            <hr>
            <!-- div class="blog-header">
                <h2 class="blog-title">Последние добавленные компании:</h2>
                <p class="lead blog-description search_result" id="search_result">
                    <?php echo $table; ?>
                </p>
            </div -->
        </article><!-- /Article -->
    </div>
</div><!-- /container -->

<script src ="../../js/my_select.js">
</script> 