<?php
include "all_vacancy_companys.php";

if ($_SESSION['currentLng'] == "ru-ru") {
    $pageTitle = 'Поиск компаний по названию' . $label_PTitle;
    $pageDesc = 'Наша база производителей промышленной продукции включает в себя предприятия со всего Мира. Вы можете найти подрядчика в своем регионе и согласовать с ним детали заказа';
} else {
    $pageTitle = 'Company search by title' . $label_PTitle;
    $pageDesc = 'Our base of manufacturers of industrial products includes enterprises from all over the world. You can find a contractor in your region and coordinate with him the details of the order';
}

?>

<header id="head" class="secondary"></header>
<!-- container -->
<div class="container">
    <div class ="col-sm-10 col-sm-offset-1">
    <ol class="breadcrumb">
        <li><a href="<?php echo BEZ_HOST; ?>?mode=index"><?php echo $label_Index; ?></a></li>
        <li class="active"><?php echo $label_CSearchT; ?></li>
    </ol>
    </div>

    <div class="row">

        <!-- Article main content -->
        <article class="col-md-10 col-md-offset-1 maincontent">
            <header class="page-header">
                <h1 class="page-title"><?php echo $label_CSearchT; ?></h1>
            </header>

            <script type="text/javascript">

            </script>
            <form class="form-horizontal" action="" method="POST" id="form">
                <div class="form-group">
                    <label for="search" class="col-md-3 control-label"><?php echo $label_CSearchI; ?></label>

                    <div class="col-md-6">
                        <input class="form-control" onclick="return ret()" type="text" name="search" id="search" placeholder="<?php echo $label_CSearchI; ?>">
                    </div>

                </div>
            </form>
            <div class="form-group">
                         <?php echo $total; ?>
                    </div>
            <div class="col-md-12">
                <ul class="form-control-static" id="search_result"></ul>
            </div>
        <div id="hidden">
            <div class="col-md-12">
                <?php echo $all_companys; ?>
            </div>
                <div class="col-md-12">
                <?php echo $show; ?>
            </div>
        </div>    
        
        </article><!-- /Article -->
    </div>
</div><!-- /container -->
<script>
    
    $(document).ready(function() {
      $('#form').keydown(function(event){
        if(event.keyCode == 13) {
          event.preventDefault();
          return false;
      }else {
          if(document.getElementById('search').value.length >=2){
            document.getElementById('hidden').style.display = 'none';
        } else {
            document.getElementById('hidden').style.display = 'block';
        }
      }
   });
});
</script>