<header id="head" class="secondary"></header>
<!-- container -->
<div class="container">
    <div class ="col-sm-10 col-sm-offset-1">
    <ol class="breadcrumb">
        <li><a href="<?php echo BEZ_HOST; ?>?mode=index"><?php echo $label_Index; ?></a></li>
        <li class="active"><?php echo $label_CProfile; ?></li>
    </ol><br>
     <ul style="list-style-type: none">
         <h4><li class="active"><a href="<?php echo $_SERVER['HTTP_REFERER']; ?>" ><strong><?php echo $label_Back;?></strong></a></li></h4>
    </ul>
    </div>
    <div class="row">

        <!-- Article main content -->
        <article class="col-md-10 col-md-offset-1 maincontent">
            <header class="page-header">
                <h1 class="page-title"><?php echo $label_Company; ?> <?php echo $c_name; ?><br>
                    <?php echo $agent_name; ?>
                    <small><?php echo $c_section; ?></small>
                </h1>
            </header>

            <dl class="dl-horizontal" style ="float: left">
                <dt><?php echo $label_Address; ?>:</dt>
                <dd><?php echo $country . ', ' . $city . ', ' . $address; ?></dd>
                <dt>E-mail:</dt>
                <dd><a href='mailto:<?php echo $email; ?>' "><?php echo $email; ?></a></dd>
                <dt><?php echo $label_WebSite; ?>:</dt>
                <dd>
                <noindex><a href="<?php echo $site; ?>" id = "site" target='_blank' rel='nofollow noindex'><?php echo $site; ?></a>
                </noindex>
                </dd>
                <dt><?php echo $label_Tel; ?>:</dt>
                <dd><a href="tel:<?php echo $c_tel; ?>"><?php echo $c_tel; ?></a></dd>
            </dl> 

            <?php
            if ($user === false) {
            echo '<div><button type = "submit" data-toggle="modal" data-target="#myModal" class = "btn btn-primary dialog" style = "float: right">Зарегистрироваться</button></div>'; ?>
            <script>
                var email = document.getElementById('site');

                email.outerHTML = email.innerHTML;
            </script>
            <?php
            }
            if ($user === true) {
            include 'company_quest.html';
            }
            ?>

            <!-- Nav tabs -->
            <span class ="col-xs-12"></span>
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#about" aria-controls="about" role="tab"
                                                          data-toggle="tab"><?php echo $label_CAbout; ?></a></li>
                <li role="presentation"><a href="#photo" aria-controls="photo" role="tab"
                                           data-toggle="tab"><?php echo $label_CVPhoto; ?></a></li>
                <li role="presentation"><a href="#service" aria-controls="service" role="tab"
                                           data-toggle="tab"><?php echo $label_Activity; ?></a></li>
                <li role="presentation"><a href="#employees" aria-controls="employees" role="tab"
                                           data-toggle="tab"><?php echo $label_Emp; ?></a></li>
               <!-- <li role="presentation"><a href="#orders" aria-controls="orders" role="tab"
                                           data-toggle="tab"><?php echo $label_COrders; ?></a></li>  -->
                <li role="presentation"><a href="#reviews" aria-controls="reviews" role="tab"
                                           data-toggle="tab"><?php echo $label_Reviews; ?></a></li> 
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="about">
                    <br><img src="<?php echo $c_logo; ?>" class="imgl img-rounded c-logo-f"><br><?php echo $desc; ?>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="photo">
                    <p><?php echo $photo; ?></p>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="service">
                    <br>
                    <p><?php echo $label_Activity; ?>: <?php echo $section2; ?></p>
                    <p><?php echo $label_Services; ?>:<br><?php echo $service; ?></p>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="employees">
                    <br>
                    <p><?php echo $employees; ?></p>
                </div>
                <!-- <div role="tabpanel" class="tab-pane fade" id="orders">
                    <br><?php echo $COrders; ?>
                </div> -->
                
                <div role="tabpanel" class="tab-pane fade" id="reviews">
                   

                    <form class="form-horizontal" action="" enctype="multipart/form-data"  method="POST">
                         <div class="form-group">
                    <br><br><br><p><?php echo $label_Valuation;?> : <?php echo $rating; ?></p>
                    </div>
                    <div class="form-group">
                    <p><?php echo $label_Reviews;?>: <?php echo $reviews; ?><br></p>
                        </div>
                        <div class="form-group">
                            <label for="filename"><?php echo $label_Message ?>:</label>
                            <textarea class="form-control" id="send_reviews" name="send_reviews" placeholder="<?php echo $label_WriteReview;?>"
                                      rows="5"></textarea>
                        </div>  
                        <div class="form-group" >
                            <label for="Valuation"><?php echo $label_Valuation ?>:</label>
                            <select class="form-control"  name ="valuation">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>   
                        <div class="form-group">
                            <button type="submit" name="submit_reviews" class="btn btn-primary"><?php echo $btn_Send; ?></button>

                        </div>
                    </form>


                </div>
            </div>
        </article><!-- /Article --></div>
</div><!-- /container -->

<div id="myModalBox" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content" style = "min-width: 70%">

            <div class="col-md-12 col-sm-12 c">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3 class="thin text-center"><?php echo $label_Reg; ?></h3>
                        <hr>

                        <form action="" method="POST">
                            <div class="top-margin">
                                <label>E-mail <span class="text-danger">*</span></label>
                                <input class="form-control" type="email" id="email" name="email" placeholder="E-mail">
                            </div>
                            <!-- div class="top-margin">
                                <label>Пароль <span class="text-danger">*</span></label>
                                <input class="form-control" type="password" id="pass" name="pass" placeholder="Пароль">
                            </div>
                            <div class="top-margin">
                                <label>Пароль <span class="text-danger">*</span></label>
                                <input class="form-control" type="password" id="pass2" name="pass2"
                                       placeholder="Пароль">
                            </div -->

                            <hr>

                            <div class="alert alert-info" role="alert"><?php echo $label_Alert; ?></div>
                            <div class="alert alert-info" role="alert"><?php echo $label_Attention; ?></div>

                            <hr>

                            <div class="row">
                                <!-- div class="col-lg-8">
                                    <b><a href="">Forgot password?</a></b>
                                </div -->
                                <div class="col-lg-4">
                                    <button class="btn btn-success" type="submit" name="submit_reg"><?php echo $btn_SignUp; ?>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<script>
    $(".dialog").click(function () {
        $("#myModalBox").modal('show');
    });
    $(document).ready(function () {
        $(".fancybox").fancybox();
    });
</script>