<?php require_once 'notes.php'; ?>
<form class="form-horizontal" action="" method="POST">
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">
                <?php echo $btn_CQuest; ?>
            </button>
             <?php 
                if($check_friend !== true) { 
                require_once 'company_friends.html'; } 
                ?>
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#note">
                <?php echo $btn_notes; ?>
            </button>    
        </div>
    </div>
     <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span>
                    </button>              
                    <h4 class="modal-title" id="myModalLabel"><?php echo $label_YourQuest; ?></h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="pm_title" value="<?php echo $label_CQuest; ?>"/>

                    <div class="form-group">
                        <label for="o_quest" class="col-sm-3 control-label"><?php echo $label_YourQuest; ?>: </label>

                        <div class="col-sm-9">
                            <textarea id="o_quest" name="o_quest" class="form-control" rows="5"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><?php echo $btn_Close; ?></button>
                    <button type="submit" name="o_answer" class="btn btn-primary" action = ""><?php echo $btn_Send; ?></button>
                </div>
            </div>
        </div>
    </div>
    <!-- Note -->
   <div class="modal fade" id="note" tabindex="-1" role="dialog" aria-labelledby="noteLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span>
                    </button>              
                    <h4 class="modal-title" id="noteLabel"><?php echo $label_Note; ?></h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="pm_title" value="<?php echo $label_CQuest; ?>"/>

                    <div class="form-group">
                        <label for="o_note" class="col-sm-3 control-label"><?php echo $label_Note; ?>: </label>

                        <div class="col-sm-9">
                            <textarea id="note" name="note" class="form-control" rows="5"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><?php echo $btn_Close; ?></button>
                    <button type="submit" name="submit_note" class="btn btn-primary"><?php echo $btn_Send; ?></button>
                </div>
            </div>
        </div>
    </div>
</form>