<header id="head" class="secondary"></header>
<!-- container -->
<div class="container">
    <div class ="col-sm-11 col-sm-offset-1">
    <ol class="breadcrumb">
        <li><a href="<?php echo BEZ_HOST; ?>?mode=index"><?php echo $label_Index; ?></a></li>
        <li class="active"><?php echo $label_EProfile; ?></li>
    </ol><br>
    <ul style="list-style-type: none">
         <h4><li class="active"><a href="<?php echo $_SERVER['HTTP_REFERER']; ?>" ><strong><?php echo $label_Back ?></strong></a></li></h4>
    </ul>
    </div>
    
    <div class="row">

        <!-- Article main content -->
        <article class="col-md-10 col-md-offset-1 maincontent">
            <header class="page-header">
                <h1 class="page-title"><?php echo $label_EProfile; ?></h1>
            </header>
            <div class="col-md-4">
            <img src="<?php echo $_SESSION['reg_avatar']; ?>" class="img-rounded"> <!--  p-logo imgl -->
            </div>
            <div class="col-md-8">
            <form class="form-horizontal" enctype="multipart/form-data" action="" method="POST">
                <input type="hidden" name="MAX_FILE_SIZE" value="3000000"/>
                <!--<div class="form-group">
                    <label for="user_name"><?php echo $label_Name; ?></label>
                    <input class="form-control" type="text" id="user_name" name="user_name"
                           value="<?php echo $reg_user_name; ?>">
                </div> -->
                <div class="form-group">
                    <label for="department"><?php echo $label_Department; ?></label>
                    <input class="form-control" type="text" id="department" name="department"
                           value="<?php echo $department; ?>">
                </div>
                <div class="form-group">
                    <label for="position"><?php echo $label_Position; ?></label>
                    <input class="form-control" type="text" id="position" name="position"
                           value="<?php echo $position; ?>">
                </div>
                <div class="form-group">
                    <label for="tel"><?php echo $label_Tel; ?></label>
                    <input class="form-control" type="text" id="tel" name="tel" value="<?php echo $reg_user_tel; ?>">
                </div>
                <div class="form-group">
                    <label for="userfile"><?php echo $label_Photo; ?></label>
                    <!-- Название элемента input определяет имя в массиве $_FILES -->
                    <input class="form-control" type="file" id="userfile" name="userfile" >
                </div>
                <div class="form-group">
                    <button type="submit" name="submit" class="btn btn-primary"><?php echo $btn_Save; ?></button>
                </div>
            </form><br>
            <form class="form-horizontal" enctype="multipart/form-data" action="" method="POST">
            <div class="form-group">
            <button type = "button" data-toggle-id = "change_pass" id = "change_pass1" class ="btn btn-primary"><?php echo $label_Change_password; ?></button>
            </div>
            
            <div id ="change_pass" hidden>
                 <div class="form-group">
                <label for="new_pass"><?php echo $label_New_password; ?></label><br>
                <input type ="text" class="form-control" id="new_pass" name = "new_pass" placeholder="<?php echo $label_New_password; ?>">
                </div>
                <div class="form-group">
                <label for="new_pass"><?php echo $label_New_password_two; ?></label><br>
                <input type ="text" class="form-control" id="new_pass1" name = "new_pass1" placeholder="<?php echo $label_New_password; ?>">
                </div>
                <div class="form-group">
                    <button type="submit" name="submit1" class="btn btn-primary"><?php echo $btn_Save; ?></button>
                </div>
            </div>   
            </form>
            </div>
        </article>
        <!-- /Article -->

    </div>
</div>    <!-- /container -->
<script>
    window.onload = function(){
change_pass = document.getElementById('change_pass');
change_pass1 = document.getElementById('change_pass1');
change_pass1.onclick = function(){

     change_pass.hidden = !change_pass.hidden;
}
       
        }
</script>