<header id="head" class="secondary"></header>
<!-- container -->
<div class="container">

    <div class ="col-sm-10 col-sm-offset-1">
    <ol class="breadcrumb">
        <li><a href="<?php echo BEZ_HOST; ?>?mode=index"><?php echo $label_Index; ?></a></li>
        <li class="active"><?php echo $label_UAccount; ?></li>
    </ol>
    </div>
    <div class="row">

        <!-- Article main content -->
        <article class="col-md-10 col-md-offset-1 maincontent">
            <header class="page-header">
                <h1 class="page-title"><?php echo $label_UAccount; ?></h1>
            </header>
            <div class="col-md-3">
                <img src="<?php echo $_SESSION['reg_avatar']; ?>" class="img-rounded p-logo-big">
            </div>
            <div class="col-md-9">
            <a href="<?php BEZ_HOST; ?>?mode=profile_edit" class="btn btn-default btn-xs"><?php echo $label_PEdit; ?></a>
                <?php echo $button_company; ?>
            <hr>
            <table class='table table-striped'>
                <tbody>
               <!-- <tr>
                    <th scope='row'><?php echo $label_Name; ?>:</th>
                    <td>
                        <?php echo $reg_user_name; ?> </td>
                
                </tr> -->
                <tr>
                    <th scope='row'><?php echo $label_Department; ?>:</th>
                    <td>
                        <?php echo $department; ?></td>
                </tr>
                <tr>
                    <th scope='row'><?php echo $label_Position; ?>:</th>
                    <td>
                        <?php echo $position; ?></td>
                </tr>
                <tr>
                    <th scope='row'><?php echo $label_Tel; ?>:</th>
                    <td>
                        <?php echo $reg_user_tel; ?></td>
                </tr>
                <tr>
                    <th scope='row'>E-mail: </th>
                    <td>
                        <?php echo $reg_login; ?> <button class="btn btn-primary dialog" style="margin-left: 20px"><?php echo $label_ChangeEmail; ?></button></td>
                </tr>
                </tbody>
            </table>
                <hr>
                <h2><?php echo $label_CompanyFiles; ?></h2>
                <h3><?php echo $label_AddFiles; ?>:</h3><br>
               <form class="form-horizonta" method="post" action="" enctype="multipart/form-data">
                <div class="form-group">
                    <div class="col-lg-6">
                        <input type = "file" name ="filename[]" multiple><br><br>
                    </div>
                </div>
                     <div class="form-group">
                    <div class="col-lg-6">
                        <input type = "submit" class ="btn btn-primary" value = "<?php echo $label_Load; ?>" name = "submit">
                    </div>
                     </div>
                      <div class="form-group">
                        <div class="col-lg-12">
                     <?php echo $photo; ?>
                        </div>
                      </div>
                <div class="form-group">
                    <div class="col-lg-12">
                        <?php echo $res; ?>
                    </div>
                </div>
            </form>

                <?php //echo $company_files; ?>
            <hr>
                <h2><?php echo $label_YourCompany; ?>:</h2>
                
            <?php echo $cmp; ?>
            <?php echo $friend_result; ?>
            <?php echo $notes_result; ?><br>
            <?php echo $Mars; ?>
            <div class="col-lg-12 agent_div">
                <h3 class = "res">Отчет по пользователю:</h3>
                <div id ="ins"></div>
                        <?php echo $agent; ?>
                        
            </div>
            </div>

        </article>
        <!-- /Article -->

    </div>
</div>    <!-- /container -->


<div id="myModalBox" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content" style = "min-width: 70%">
        
        <div class="col-md-12 col-sm-12 c">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3 class="thin text-center"><?php echo $label_ChangeEmail; ; ?></h3>
                        <hr>
                        <form action="" method="POST">
                            <div class="top-margin">
                                <label>E-mail <span class="text-danger">*</span></label>
                                <input class="form-control" type="email" id="email" name="email" placeholder="<?php echo $label_NewEmail; ?>">
                            </div>
                            <hr>

                            <div class="alert alert-info" role="alert"><?php echo $label_Alert; ?></div>

                            <hr>
                           
                            <div class="row">
                                <!-- div class="col-lg-8">
                                    <b><a href="">Forgot password?</a></b>
                                </div -->
                                <div class="col-lg-4">
                                    <button class="btn btn-success" type="submit" name="submit_email"><?php echo $label_ChangeEmail; ?>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
       
    </div>
  </div>
</div>

<script>
    $(document).ready(function () {
        $(".fancybox").fancybox();
    });
 $(".dialog").click(function() {
$("#myModalBox").modal('show');
     }); 

    $(".agent_div").css("display", "none");
    $('.agent').click(function(e){
        var i = parseInt(this.classList);
        
        $.ajax({
            
            type: 'POST',
            url: '/scripts/profile/Mars_ajax.php',
            data: 'number=' + i,
  success: function(data){
      $('#ins').html(data);
  },
  error: function(){
      alert(3);
  }
        });
       var res = document.getElementsByClassName('res');
       res[0].innerHTML = "Отчет по пользователю: " + this.innerHTML;
      $(".agent_div").css("display", "block");
    })
</script>