<header id="head" class="secondary"></header>
<!-- container -->
<div class="container">
<div class ="col-sm-11 col-sm-offset-1">
    <ol class="breadcrumb">
        <li><a href="<?php echo BEZ_HOST; ?>?mode=index"><?php echo $label_Index; ?></a></li>
        <li class="active"><?php echo $label_AddLibFile; ?></li>
    </ol>
<ul style="list-style-type: none">
         <h4><li class="active"><a href="<?php echo $_SERVER['HTTP_REFERER']; ?>" ><strong>Назад</strong></a></li></h4>
    </ul>
</div>
    <div class="row">

        <!-- Article main content -->
        <article class="col-md-10 col-md-offset-1 maincontent">
            <header class="page-header">
                <h1 class="page-title"><?php echo $label_AddLibFile; ?></h1>
            </header>

            <form class="form-horizontal" action="" enctype="multipart/form-data"  method="POST">
                <div class="form-group">
                    <label for="filename"><?php echo $label_filename ?>:</label>
                    <input class ="form-control" type ="text" name ="filename" required>
                </div>
                <div class="form-group">
                    <label for="filename"><?php echo $label_Description ?>:</label>
                <textarea class="form-control" id="short_desc_id" name="short_desc_id" placeholder="Короткое описание"
                                      rows="3"></textarea>
                </div>
                <div class="form-group">
                    <label for="uploadLibFile"><?php echo $label_AddLibFile; ?>:</label>
                    <input class="form-control" type="file" id="uploadLibFile" name="uploadLibFile">
                </div>
                <div class="form-group">
                    <label for="selectSection"><?php echo $label_Section; ?>:</label>
                    <select class="form-control js-example-basic-single" size="15" name="lib" id="lib" required> <!--  multiple -->
                        <?php echo $summary; ?>
                    </select>
                </div>
                
                <div class="form-group">
                    <button type="submit" name="submit" class="btn btn-primary"><?php echo $btn_Save; ?></button>

                </div>
            </form>

        </article>
        <!-- /Article -->

    </div>
</div>    <!-- /container -->