<header id="head" class="secondary"></header>
<!-- container -->
<div class="container">

    <ol class="breadcrumb">
        <li><a href="<?php echo BEZ_HOST; ?>?mode=index">Главная</a></li>
        <li class="active">Поиск от yandex</li>
    </ol>

    <div class="row">

        <!-- Article main content -->
        <article class="col-md-10 col-md-offset-1 maincontent">
            <header class="page-header">
                <h1 class="page-title">Поиск от yandex</h1>
            </header>

            <div class="ya-site-form ya-site-form_inited_no"
                 onclick="return {'action':'https://industrialorder.com/?mode=test','arrow':false,'bg':'transparent','fontsize':12,'fg':'#000000','language':'ru','logo':'rb','publicname':'Поиск по industrialorder.com','suggest':true,'target':'_blank','tld':'ru','type':2,'usebigdictionary':true,'searchid':2296757,'input_fg':'#000000','input_bg':'#ffffff','input_fontStyle':'normal','input_fontWeight':'normal','input_placeholder':'Введите ваш запрос','input_placeholderColor':'#000000','input_borderColor':'#7f9db9'}">
                <form action="https://yandex.ru/search/site/" method="get" target="_blank" accept-charset="utf-8"><input
                        type="hidden" name="searchid" value="2296757"/><input type="hidden" name="l10n"
                                                                              value="ru"/><input type="hidden"
                                                                                                 name="reqenc"
                                                                                                 value=""/><input
                        type="search" name="text" value=""/><input type="submit" value="Найти"/></form>
            </div>
            <style type="text/css">.ya-page_js_yes .ya-site-form_inited_no {
                display: none;
            }</style>
            <script type="text/javascript">(function (w, d, c) {
                var s = d.createElement('script'), h = d.getElementsByTagName('script')[0], e = d.documentElement;
                if ((' ' + e.className + ' ').indexOf(' ya-page_js_yes ') === -1) {
                    e.className += ' ya-page_js_yes';
                }
                s.type = 'text/javascript';
                s.async = true;
                s.charset = 'utf-8';
                s.src = (d.location.protocol === 'https:' ? 'https:' : 'http:') + '//site.yandex.net/v2.0/js/all.js';
                h.parentNode.insertBefore(s, h);
                (w[c] || (w[c] = [])).push(function () {
                    Ya.Site.Form.init()
                })
            })(window, document, 'yandex_site_callbacks');</script>

            <div id="ya-site-results"
                 onclick="return {'tld': 'ru','language': 'ru','encoding': '','htmlcss': '1.x','updatehash': true}"></div>
            <script type="text/javascript">(function (w, d, c) {
                var s = d.createElement('script'), h = d.getElementsByTagName('script')[0];
                s.type = 'text/javascript';
                s.async = true;
                s.charset = 'utf-8';
                s.src = (d.location.protocol === 'https:' ? 'https:' : 'http:') + '//site.yandex.net/v2.0/js/all.js';
                h.parentNode.insertBefore(s, h);
                (w[c] || (w[c] = [])).push(function () {
                    Ya.Site.Results.init();
                })
            })(window, document, 'yandex_site_callbacks');</script>

            <hr>

            <form class="form-horizontal" method="post" action="?mode=search">
                <!-- div class="form-group">
                    <label for="o_type" control-label">Секция:</label>
                        <select class="form-control" name="o_type" id="o_type">
                            <option value="Запрос цен">Запрос цен</option>
                            <option value="Заказ">Заказ</option>
                        </select>
                </div -->

                <div class="form-group">
                    <label for="cat">ОКВЕД:</label>
                    <select class="form-control js-example-basic-single" size="30" name="cat" id="cat"> <!--  multiple -->
                        <?php echo $summary; ?>
                    </select>
                </div>
                <!-- div class="form-group">
                    <label for="cat">ОКПД:</label>
                    <select class="form-control js-example-basic-single" size="15" name="cat2" id="cat2">
                        <?php echo $summary2; ?>
                    </select>
                </div -->
                <div class="form-group">
                    <div class="col-lg-4">
                        <input type="submit" name="submit" class="btn btn-primary btn-sm" value="<?php echo $btn_Search; ?>">
                    </div>
                </div>
            </form>
            <hr>

        </article>
        <!-- /Article -->

    </div>
</div>    <!-- /container -->
