<header id="head" class="secondary">
    <style>
    #order_ul{display: hidden;}
    hr{padding: 0px;
      margin: 3px}
    </style>
</header>
<!-- container -->
<div class="container">

    <ol class="breadcrumb" style = "margin-left:10%">
        <li><a href="<?php echo BEZ_HOST; ?>?mode=index"><?php echo $label_Index; ?></a></li>
        <li class="active"><?php echo $label_Help; ?></li>
    </ol>
<?php if ($_SESSION['currentLng'] == 'ru-ru') { ?>
    <div class="row">

        <!-- Article main content -->
        <article class="col-md-10 col-md-offset-1 maincontent">
            <header>
                <h1 class="page-title " ><strong><?php echo $label_Help . " для начинающих: "; ?></strong></h1>
            </header>
            <div class = "col-xs-10 col-xs-offset-2"><h2>
                <strong>Инструкция по использованию портала:</strong>
            </h2></div>
            <div class = "col-xs-12 col-xs-offset-1">
                <h3><strong>Вопросы и ответы:</strong></h3>
            </div>
            <div class = "col-xs-12">
                <h3><ol>
                        <li class="page-title"><a href = "images/reg1.PNG" class="fancybox" rel="gallery">Как зарегистрировать компанию?<img src = "images/reg1.PNG" style="display:none"></a></li>
<div class = "reg col-md-3"><a href = "images/reg2.PNG" class="fancybox" rel="gallery"></a></div>
<div class = "reg col-md-3"><a href = "images/reg3.PNG" class="fancybox" rel="gallery"></a></div>
<div class = "reg col-md-3"><a href = "images/reg4.PNG" class="fancybox" rel="gallery"></a></div>
<li class="page-title"><a href = "images/search_order1.png" class="fancybox" rel="gallery1"><a href = "images/order1.PNG" class="fancybox" rel="gallery1">Как разместить заказ?</a></a></li>
<div class = "reg col-md-4"><a href = "images/order2.PNG" class="fancybox" rel="gallery1"></a></div>
<li class="page-title"><a href = "images/send_order1.png" class="fancybox" rel="gallery2">Где найти входящие коммерческие предложения</a></li>
<li class="page-title"><a href = "images/search_order1.png" class="fancybox" rel="gallery3">Как найти заказ</a></li>
<a href = "images/search_order2.png" class="fancybox" rel="gallery3"></a>
<div class = "reg col-md-3"><a href = "images/search_order3.png" class="fancybox" rel="gallery3"></a></div>
<div class = "reg col-md-3"><a href = "images/search_order4.png" class="fancybox" rel="gallery3"></a></div>
<li class="page-title"><a href = "images/send_order1.png" class="fancybox" rel="gallery4">Как отправить коммерческое предложение</a></li>
<a href = "images/send_order2.png" class="fancybox" rel="gallery4"></a>
<div class = "reg col-md-4"><a href = "images/send_order3.png" class="fancybox" rel="gallery4"></a></div>
            </ol></h3>
            </div>
            <?php echo $summary; ?>
        </article>
        <!-- /Article -->

        
      

<!-- Site Overlay -->
<div class="site-overlay"></div>


<div id="container" style = "margin-top: 600px">
<?php echo $table; ?>
</div>

<!--
<div class ="col-sm-2" style="position:absolute; left:-3%; top: 20%;margin-left:20px">
    <div class="panel panel-default" style="border-width: 5px">
        <div style = "color: #fff"><h6>Здравствуйте! Добро пожаловать на наш портал. Я зарегистрирую вашу компанию самостоятельно!</h6></div>
    <form action="" method="post" style="padding-left: 20px">
    <br><label for email>e-mail:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
    <input type="text" name ="email" placeholder="Введите ваш e-mail" class = "form-control" style="font-size:12px">
    <label for email>web-сайт:</label>
    <input type="text" name ="site" placeholder="Введите адрес сайта" id="inlineFormInput" class = "form-control" style="font-size:12px">
    <input type="submit" name ="reg_us" value="Отправить" class = "btn btn-primary">
</form>
</div>
    </div>
-->

    </div>
</div>    <!-- /container -->

<?php } else { ?>
 <div class="row">

        <!-- Article main content -->
        <article class="col-md-10 col-md-offset-1 maincontent">
            <header>
                <h1 class="page-title " ><strong><?php echo $label_Help . " for beginners: "; ?></strong></h1>
            </header>
            <div class = "col-xs-10 col-xs-offset-2"><h2>
                <strong>Instructions for using the portal:</strong>
            </h2></div>
            <div class = "col-xs-12 col-xs-offset-1">
                <h3><strong>Questions and answers:</strong></h3>
            </div>
            <div class = "col-xs-12">
                <h3><ol>
                        <li class="page-title"><a href = "images/reg1.PNG" class="fancybox" rel="gallery">How to register a company?<img src = "images/reg1.PNG" style="display:none"></a></li>
<div class = "reg col-md-3"><a href = "images/reg2.PNG" class="fancybox" rel="gallery"></a></div>
<div class = "reg col-md-3"><a href = "images/reg3.PNG" class="fancybox" rel="gallery"></a></div>
<div class = "reg col-md-3"><a href = "images/reg4.PNG" class="fancybox" rel="gallery"></a></div>
<li class="page-title"><a href = "images/search_order1.png" class="fancybox" rel="gallery1"><a href = "images/order1.PNG" class="fancybox" rel="gallery1">How to place an order?</a></a></li>
<div class = "reg col-md-4"><a href = "images/order2.PNG" class="fancybox" rel="gallery1"></a></div>
<li class="page-title"><a href = "images/send_order1.png" class="fancybox" rel="gallery2">Where to find incoming offers</a></li>
<li class="page-title"><a href = "images/search_order1.png" class="fancybox" rel="gallery3">How to find an order</a></li>
<a href = "images/search_order2.png" class="fancybox" rel="gallery3"></a>
<div class = "reg col-md-3"><a href = "images/search_order3.png" class="fancybox" rel="gallery3"></a></div>
<div class = "reg col-md-3"><a href = "images/search_order4.png" class="fancybox" rel="gallery3"></a></div>
<li class="page-title"><a href = "images/send_order1.png" class="fancybox" rel="gallery4">How to send a quotation</a></li>
<a href = "images/send_order2.png" class="fancybox" rel="gallery4"></a>
<div class = "reg col-md-4"><a href = "images/send_order3.png" class="fancybox" rel="gallery4"></a></div>
            </ol></h3>
            </div>
            <?php echo $summary; ?>
        </article>
        <!-- /Article -->

        
        

<!-- Site Overlay -->
<div class="site-overlay"></div>

<!-- Your Content -->
<div id="container">
    <!-- Menu Button -->
    <?php echo $button; ?>
</div>
<div id="container" style = "margin-top: 600px">
<?php echo $table; ?>
</div>

<!--
<div class ="col-sm-2" style="position:absolute; left:-3%; top: 20%;margin-left:20px">
    <div class="panel panel-default" style="border-width: 5px">
        <div style = "color: #fff"><h6>Здравствуйте! Добро пожаловать на наш портал. Я зарегистрирую вашу компанию самостоятельно!</h6></div>
    <form action="" method="post" style="padding-left: 20px">
    <br><label for email>e-mail:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
    <input type="text" name ="email" placeholder="Введите ваш e-mail" class = "form-control" style="font-size:12px">
    <label for email>web-сайт:</label>
    <input type="text" name ="site" placeholder="Введите адрес сайта" id="inlineFormInput" class = "form-control" style="font-size:12px">
    <input type="submit" name ="reg_us" value="Отправить" class = "btn btn-primary">
</form>
</div>
    </div>
-->

    </div>
</div>    <!-- /container -->
<?php } ?>


<script type="text/javascript">
$(document).ready(function() {
    $(".fancybox").fancybox();
});
$(document).ready(function() {
    $(".fancybox1").fancybox();
});
$(document).ready(function() {
    $(".fancybox2").fancybox();
});
$(document).ready(function() {
    $(".fancybox3").fancybox();
});
$(document).ready(function() {
    $(".fancybox4").fancybox();
});
</script>